<ul>
  <% itemList.forEach(item => { %>
  <div
    class="w-full bg-[#FFFCFC] rounded-3xl mb-3 shadow-xl flex justify-start"
  >
    <div class="flex w-20">
      <a
        class="self-start mx-auto mt-1.5 rounded-full w-7/12"
        href="/profile/<%= item.postedBy._id%>"
        ><img
          class="self-start mx-auto rounded-full w-full"
          src="<%- item.postedBy?.image%>"
          alt="user image"
      /></a>
    </div>
    <li class="w-full">
      <div class="flex gap-x-1.5 pt-1">
        <a
          href="/profile/<%= item.postedBy._id%>"
          class="underline font-roboto text-sm"
          ><%= item.postedBy?.displayName%></a
        >

        <div class="text-sm text-neutral-500">
          posted <%= item.createdAt.toLocaleDateString('en-US', { month:
          'short', day: 'numeric' }) %>
        </div>

        <a
          class="text-primary text-sm hover:underline"
          href="<%= item.linkinput %>"
          target="_blank"
          ><%= item.linkinput.slice(12, 28) %><%= item.linkinput.length > 16 ?
          '...' : '' %><i
            class="fa-solid fa-link fa-xs"
            style="color: #3b71ca"
          ></i
        ></a>
      </div>
      <a
        href="/viewPost/dashboard/<%= item._id %>"
        class="block text-base font-medium font-roboto pt-2 pb-1.5"
      >
        <%- item.titleinput %>
      </a>
      <p><%- item.textinput %></p>
      <div class="flex gap-1.5 flex-wrap">
        <div class="bg-[#CACACA] p-1.5 px-2 rounded-3xl font-roboto text-sm">
          <%= item.numinput %>
        </div>

        <!-- loop through subregions and generate a div for each item in the array -->
        <% if (item.regioninput.length > 0) { %> <%
        item.regioninput.forEach(region => { %>

        <a
          class="rounded-3xl h-full"
          href="/getFilteredItems/dashboard/filter?regionfilter=<%= region %>&countryfilter=&healthriskfilter="
        >
          <div class="bg-[#BEEDC0] p-1.5 px-2 rounded-3xl font-roboto text-sm">
            <%= region %>
          </div>
        </a>

        <% }); %> <% } %>

        <!-- loop through country input and generate a div for each item in the array -->
        <% if (item.countryinput.length > 0) { %> <%
        item.countryinput.forEach(country => { %>
        <a
          class="rounded-3xl h-full"
          href="/getFilteredItems/dashboard/filter?regionfilter=&countryfilter=<%= country %>&healthriskfilter="
        >
          <div class="bg-[#C6E8F0] p-1.5 px-2 rounded-3xl font-roboto text-sm">
            <%= country %>
          </div>
        </a>
        <% }); %> <% } %>

        <!-- loop through health risks and generate a div for each item in the array -->
        <% if (item.healthriskinput.length > 0) { %> <%
        item.healthriskinput.forEach(healthRisk => { %>
        <a
          class="rounded-3xl h-full"
          href="/getFilteredItems/dashboard/filter?regionfilter=&countryfilter=&healthriskfilter=<%= healthRisk %>"
        >
          <div class="bg-[#E7C6B2] p-1.5 px-2 rounded-3xl font-roboto text-sm">
            <%= healthRisk %>
          </div>
        </a>
        <% }); %> <% } %>
      </div>

      <div class="flex justify-start">
        <div class="flex justify-between w-4/6 my-2.5">
          <!-- If the post has 1 comment, ensure the grammar fits accordingly -->
          <% if (item.comments == 1) {%>
          <div title="<%= item.comments %> comment">
            <i class="fa-regular fa-comment mr-1" style="color: #5b7083"></i><%=
            item.comments %>
          </div>
          <% } else { %>
          <div title="<%= item.comments %> comments">
            <i class="fa-regular fa-comment mr-1" style="color: #5b7083"></i><%=
            item.comments %>
          </div>
          <% } %>

          <form action="/likePost/<%= item._id %>" class="flex">
            <% if (user.likedPosts.includes(item._id)) { %>
            <!-- If post is already saved by the user, display "Unsave this post" -->
            <button type="submit" title="Unlike post">
              <i class="fa-solid fa-heart mr-1" style="color: #f91880"></i>
            </button>

            <% if (item.likes == 1) {%>
            <div title="<%= item.likes %> like"><%= item.likes %></div>
            <% } else { %>
            <div title="<%= item.likes %> likes"><%= item.likes %></div>
            <% } %> <% } else { %>
            <!-- If post is not saved by the user, display "Save this post" -->
            <button type="submit" title="Like post">
              <i class="fa-regular fa-heart mr-1" style="color: #5b7083"></i>
            </button>
            <!-- If the post has 1 like, ensure the grammar fits accordingly -->
            <% if (item.likes == 1) {%>
            <div title="<%= item.likes %> like"><%= item.likes %></div>
            <% } else { %>
            <div title="<%= item.likes %> likes"><%= item.likes %></div>
            <% } %> <% } %>
          </form>

          <form action="/savePost/<%= item._id %>">
            <% if (user.savedPosts.includes(item._id)) { %>
            <!-- If post is already saved by the user, display "Unsave this post" -->
            <button type="submit" title="Unsave post">
              <i
                class="fa-solid fa-bookmark"
                alt="Unsave"
                style="color: #5b7083"
              ></i>
            </button>
            <% } else { %>
            <!-- If post is not saved by the user, display "Save this post" -->
            <button type="submit" title="Save post">
              <i
                class="fa-regular fa-bookmark"
                alt="Save"
                style="color: #5b7083"
              ></i>
            </button>
            <% } %>
          </form>
        </div>
      </div>

      <!-- If post was made by the logged in user, provide options to edit and delete posts -->
      <%if(item.postedBy.id == user.id){ %>
      <a href="/edit/<%= item._id %>">Edit</a>
      <!-- Pop up confirmation to make sure you don't accidentally delete -->
      <button
        onclick="showConfirmation('<%= item._id %>')"
        class="text-red-500 cursor-pointer"
      >
        Delete
      </button>
      <%}%>

      <a href="/viewPost/dashboard/<%= item._id %>">View Post</a>
    </li>
  </div>
  <% }) %>
</ul>
