<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="Tagify" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate-Health Impacts Database</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <!-- Nav bar -->
    <%- include('partials/navbar') %>
    <h1>Climate-Health Impact Tracker EDIT COMMENT VIEW</h1>

    <!-- display selected post -->
    <ul>
      <li>
        <h3><%- item.titleinput %></h3>
        <p><%- item.textinput %></p>
        <a href="<%= item.linkinput %>" target="_blank">Link</a>
        <div>Year: <%= item.numinput %></div>
        <div>Subregion affected: <%= item.regioninput %></div>
        <div>Countries affected: <%= item.countryinput %></div>
        <div>
          Climate-sensitive health risks: <%= item.healthriskinput %>
        </div>
        <div>
          Posted by
          <a href="/profile/<%= item.postedBy._id%>"
            ><%= item.postedBy?.displayName%></a
          >
        </div>

        <form action="/likePost/<%= item._id %>">
          <% if (user.likedPosts.includes(item._id)) { %>
          <!-- If post is already saved by the user, display "Unsave this post" -->
          <button type="submit">Unlike this post</button>
          <% } else { %>
          <!-- If post is not saved by the user, display "Save this post" -->
          <button type="submit">Like this post</button>
          <% } %>
        </form>

        <form action="/savePost/<%= item._id %>">
          <% if (user.savedPosts.includes(item._id)) { %>
          <!-- If post is already saved by the user, display "Unsave this post" -->
          <button type="submit">Unsave this post</button>
          <% } else { %>
          <!-- If post is not saved by the user, display "Save this post" -->
          <button type="submit">Save this post</button>
          <% } %>
        </form>

        <!-- If the post has 1 like, ensure the grammar fits accordingly -->
        <% if (item.likes == 1) {%>
        <div>This post has <%= item.likes %> like</div>
        <% } else { %>
        <div>This post has <%= item.likes %> likes</div>
        <% } %>

        <!-- If the post has 1 comment, ensure the grammar fits accordingly -->
        <% if (item.comments == 1) {%>
        <div>This post has <%= item.comments %> comment</div>
        <% } else { %>
        <div>This post has <%= item.comments %> comments</div>
        <% } %>

        <div>Posted on <%= item.createdAt %></div>

        <!-- If post was made by the logged in user, provide options to edit and delete posts -->
        <%if(item.postedBy.id == user.id){ %>
        <a href="/edit/<%= item._id %>">Edit</a>
        <!-- Pop up confirmation to make sure you don't accidentally delete -->
        <button
          onclick="showConfirmation('<%= item._id %>')"
          class="text-red-500 cursor-pointer"
        >
          Delete
        </button>
        <%}%>

        <a href="/viewPost/dashboard/<%= item._id %>">View Post</a>
      </li>
    </ul>

    <!-- comment form prefilled with comment text -->
    <% comments.forEach(comment => { %> <% if (comment._id==commentId) { %>
      <form action="/comment/updateComment/<%= item._id%>/comments/<%= comment._id%>" method="POST">
        <label for="commentinput">Comment</label>
        <textarea
          id="commentinput"
          type="text"
          name="commentinput"
          maxlength="40000"
        ><%= comment.comment %></textarea>
        <span id="word-count1"></span>
    
        <button type="submit" id="submitButton">Update comment</button>
      </form>

    <% } %> <% }) %>

    <!-- feed of all other remaining comments-->
    <ul>
      <% for (let i=0; i<comments.length; i++) { %>

        <% if (comments[i]._id!=commentId) { %>
        <li>
          <%- comments[i].comment%>
          <form action="/comment/likeComment/<%= item._id%>/comments/<%= comments[i]._id %>">
            <button type="submit">Like this comment</button>
          </form>
          <div>Posted by <%= comments[i].postedBy?.displayName %></div>
          <div>This comment has <%= comments[i].likes %> likes</div>
          <div>posted on <%= comments[i].createdAt %></div>
          <div>
            Posted by
            <a href="/profile/<%= comments[i].postedBy._id%>"
              ><%= comments[i].postedBy?.displayName%></a
            >
          </div>

          <%if(comments[i].postedBy._id == user.id){ %>
            <a href="/comment/editComment/<%=item._id %>/comments/<%= comments[i]._id %>">Edit</a>
            <!-- Pop up confirmation to make sure you don't accidentally delete the post-->
        <button
        onclick="showConfirmationComment('<%= item._id %>', '<%= comments[i]._id %>')"
        class="text-red-500 cursor-pointer"
      >
        Delete
      </button>
            
          <%}%>
        </li>
      <% } }%>
    </ul>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

    <script>
      // new MultiSelectTag("regioninput"); // id
      // new MultiSelectTag("countryinput"); // id
      // new MultiSelectTag("healthriskinput"); // id

      new MultiSelectTag("regionfilter"); // id
      new MultiSelectTag("countryfilter"); // id
      new MultiSelectTag("healthriskfilter"); // id

      // CKEDITOR.replace('textinput', {
      //     plugins: 'wysiwygarea, toolbar, basicstyles, link'
      // })

      function showConfirmation(itemId) {
        console.log("Button clicked!");
        const result = confirm(
          "Are you sure you want to delete this post/comment?"
        );
        if (result) {
          window.location.href = `/edit/remove/${itemId}`;
        }
      }

      function showConfirmationComment(itemId, commentId) {
        console.log("Button clicked!");
        const result = confirm(
          "Are you sure you want to delete this post/comment?"
        );
        if (result) {
          
          window.location.href = `/comment/deleteComment/${itemId}/comments/${commentId}`;
        }
      }
    </script>

    <!-- OLD COMMENT SCRIPT WHICH ACTUALLY MIGHT WORK -->
    <!-- <script>
      ClassicEditor.create(document.querySelector("#textinput")).catch(
        (error) => {
          console.error(error);
        }
      );
    </script> -->

    <script type="text/javascript" src="\ckeditor5\build\ckeditor.js"></script>
    <script type="text/javascript">
      const sendButton = document.querySelector("#submitButton");
      ClassicEditor.create(document.querySelector("#commentinput"), {
        licenseKey: "",
      })
        .then((editor) => {
          window.editor = editor;
          const wordCountPlugin = editor.plugins.get("WordCount");
          const wordCountWrapper = document.getElementById("word-count1");
          wordCountWrapper.appendChild(wordCountPlugin.wordCountContainer);

          // charlimit practice
          const maxCharacters = 30;

          editor.model.document.on("change", () => {
            const textLength = editor.getData().length;

            if (textLength >= maxCharacters) {
              sendButton.setAttribute("disabled", "disabled");
            } else {
              sendButton.removeAttribute("disabled");
            }
          });

          // charlimit practice
        })
        .catch((error) => {
          console.error("Oops, something went wrong!");
          console.error(
            "Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:"
          );
          console.warn("Build id: reb26uh8ox5-193g9pg23i6c");
          console.error(error);
        });
    </script>
  </body>
</html>
