<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body class="font-sans bg-climagray">
    <!-- Nav bar -->
    <%- include('partials/navbar') %>

    <!-- container div for feed, sort, title, filter -->
    <div id="containerForAll" class="2xl:flex">
      <div class="w-6/12 mx-auto max-w-[625px]">
        <div class="">
          <h3
            class="h-12 leading-10 flex font-roboto text-2xl text-navblack font-bold flex items-center"
          >
            Create a post
          </h3>
        </div>

        <% itemList.forEach(item => { %> <% if (item._id==idItem) { %>
        <!-- Form for adding new posts -->
        <form action="/edit/update/<%= item._id %>" method="POST">
          <label for="titleinput">Title*</label>
          <textarea
            type="text"
            value="<%= item.titleinput %>"
            name="titleinput"
            maxlength="280"
            id="titleInput"
            class="w-full h-auto resize-none rounded-lg px-4"
            autocorrect="on"
          >
<%- item.titleinput%></textarea
          >
          <div class="flex justify-end"><p id="titleCharCount">0/280</p></div>

          <!-- <text id="update_words1"></text>
          <text id="update_chars1"></text> -->

          <label for="textinput">Additional Text (Optional)</label>
          <textarea
            id="textinput"
            type="text"
            value="<%- item.textinput %>"
            name="textinput"
            maxlength="40000"
          >
<%- item.textinput %></textarea
          >
          <!-- <span id="word-count2"></span> -->
          <div class="flex justify-end">
            <text id="update_words2"></text>
            <text id="update_chars2"></text>
          </div>

          <label for="linkinput">Paste Link*</label>
          <input
            type="url"
            name="linkinput"
            value="<%= item.linkinput %>"
            maxlength="2100"
            id="linkinput"
            class="w-full rounded-lg px-4 mb-2"
            placeholder="provide a link for your post"
          />

          <div>
            <label for="numinput">Input Year*</label>
            <input
              type="number"
              name="numinput"
              value="<%= item.numinput %>"
              id="numinput"
              class="w-1/2 mb-2"
              placeholder="indicate the year of your post"
            />
          </div>

          <label for="regioninput">Select a subregion:*</label>
          <select
            name="regioninput"
            id="regioninput"
            type="text"
            value="<%= item.regioninput %>"
            multiple
          >
            <option value="<%= item.regioninput %>" disabled selected hidden>
              <%= item.regioninput %>
            </option>
            <option value="">--Please choose an option--</option>
            <option value="The Americas (all subregions)">
              The Americas (full region)
            </option>
            <option value="North America">North America</option>
            <option value="Central America">Central America</option>
            <option value="Caribbean">Caribbean</option>
            <option value="South America">South America</option>
          </select>

          <br />
          <label for="countryinput">Please input affected country(s)*</label>
          <select type="text" name="countryinput" id="countryinput" multiple>
            <option value="<%= item.countryinput %>" disabled selected hidden>
              <%= item.countryinput %>
            </option>
            <option value="All countries">All countries</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Barbados">Barbados</option>
            <option value="Belize">Belize</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Brazil">Brazil</option>
            <option value="Canada">Canada</option>
            <option value="Chile">Chile</option>
            <option value="Colombia">Colombia</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cuba">Cuba</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Grenada">Grenada</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Honduras">Honduras</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Mexico">Mexico</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Panama">Panama</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="St Vincent and the Grenadines">
              St. Vincent and the Grenadines
            </option>
            <option value="St Kitts and Nevis">St. Kitts and Nevis</option>
            <option value="Suriname">Suriname</option>
            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
            <option value="United States">United States</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Venezuela">Venezuela</option>
          </select>

          <br />
          <label for="healthriskinput"
            >Please input relevant climate-sensitive health risks</label
          >
          <select
            name="healthriskinput"
            id="healthriskinput"
            value="<%= item.healthriskinput %>"
            multiple
          >
            <option
              value="<%= item.healthriskinput %>"
              disabled
              selected
              hidden
            >
              <%= item.healthriskinput %>
            </option>
            <option value="General">General</option>
            <option value="Air-borne and respiratory illnesses">
              Air-borne and respiratory illnesses
            </option>
            <option value="Heat-related illness">Heat-related illness</option>
            <option value="Injury and mortality from extreme weather events">
              Injury and mortality from extreme weather events
            </option>
            <option value="Malnutrition and food-borne diseases">
              Malnutrition and food-borne diseases
            </option>
            <option value="Mental and psychosocial health">
              Mental and psychosocial health
            </option>
            <option value="Noncommunicable diseases (NCDs)">
              Noncommunicable diseases (NCDs)
            </option>
            <option value="Vector-borne diseases">Vector-borne diseases</option>
            <option
              value="Water-borne diseases and other water-related health outcomes"
            >
              Water-borne diseases and other water-related health outcomes
            </option>
            <option value="Zoonoses">Zoonoses</option>
          </select>

          <!-- <br />
          <label for="citationinput">Input Citation</label>
          <input type="text" name="citationinput" /> -->

          <button
            type="submit"
            id="submitButton"
            data-te-ripple-init
            data-te-ripple-color="light"
            class="mt-4 rounded-full relative inline-block rounded bg-[#28bb85] px-6 pb-2 pt-2.5 text-base font-medium leading-normal text-white shadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] dark:shadow-[0_4px_9px_-4px_#34D398] dark:hover:shadow-[0_8px_9px_-4px_#077F59] dark:focus:shadow-[0_8px_9px_-4px_#34D398] dark:active:shadow-[0_8px_9px_-4px_#077F59] flex gap-x-2.5 items-center"
          >
            Confirm edit<i class="fa-solid fa-plus"></i>
          </button>
          <a href="/"
            ><div
              class="mt-6 px-5 py-3 rounded-full font-roboto font-semibold leading-none bg-[#CACACA] hover:bg-[#bdbdbd] transition duration-150"
            >
              Cancel
            </div></a
          >

          <div id="errorMessages" class="mt-4"></div>
        </form>
        <% } %> <% }) %>
      </div>
    </div>
    <footer><%- include('partials/footer') %></footer>

    <!-- Tailwind Elements stuff -->
    <script
      type="text/javascript"
      src="/tw-elements/dist/js/tw-elements.umd.min.js"
    ></script>

    <script>
      const regionfilter = document.querySelector("#regionfilter");
      const multiSelectInstance1 = te.Select.getInstance(regionfilter);
      multiSelectInstance1.setValue([]);

      const countryfilter = document.querySelector("#countryfilter");
      const multiSelectInstance2 = te.Select.getInstance(countryfilter);
      multiSelectInstance2.setValue([]);

      const healthriskfilter = document.querySelector("#healthriskfilter");
      const multiSelectInstance3 = te.Select.getInstance(healthriskfilter);
      multiSelectInstance3.setValue([]);

      const sortSelect = document.querySelector("#sortSelect");
      const sortInstance = te.Select.getInstance(sortSelect);
      sortInstance.setValue([]);
    </script>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
      new MultiSelectTag("regioninput"); // id
      new MultiSelectTag("countryinput"); // id
      new MultiSelectTag("healthriskinput"); // id

      new MultiSelectTag("regionfilter"); // id
      new MultiSelectTag("countryfilter"); // id
      new MultiSelectTag("healthriskfilter"); // id

      function showConfirmation(itemId) {
        console.log("Button clicked!");
        const result = confirm(
          "Are you sure you want to delete this post/comment?"
        );
        if (result) {
          window.location.href = `/edit/remove/${itemId}`;
        }
      }
    </script>
    <script type="text/javascript" src="\ckeditor5\build\ckeditor.js"></script>
    <script type="text/javascript">
      const sendButton = document.querySelector("#submitButton");
      // const maxCharacters1 = 280;
      const maxCharacters2 = 4000;
      const charactersBox = document.querySelector("#update_chars1");
      const wordsBox = document.querySelector("#update_words1");
      const charactersBox2 = document.querySelector("#update_chars2");
      const wordsBox2 = document.querySelector("#update_words2");

      document.getElementById("titleInput").oninput = function () {
        document.getElementById("titleCharCount").innerHTML =
          this.value.length + "/280";
      };

      const titleInput = document.getElementById("titleInput");

      titleInput.addEventListener("input", autoResize, false);

      function autoResize() {
        this.style.height = "auto"; //Reset the height
        this.style.height = this.scrollHeight + "px"; // Set the height to the scroll height
      }

      ClassicEditor.create(document.querySelector("#textinput"), {
        wordCount: {
          onUpdate: (stats) => {
            const textLength = stats.characters;
            const isLimitExceeded = textLength > maxCharacters2;

            wordsBox2.textContent = `Words in the post: ${stats.words}`;

            // Display the number of characters in the progress chart. When the limit is exceeded,
            // display how many characters should be removed.
            if (isLimitExceeded) {
              charactersBox.textContent = `Characters remaining: -${
                stats.characters - maxCharacters2
              }`;
            } else {
              charactersBox2.textContent = `Total characters: ${stats.characters}`;
            }

            if (textLength > maxCharacters2) {
              sendButton.setAttribute("disabled", "disabled");
            } else {
              sendButton.removeAttribute("disabled");
            }
          },
        },
      }).catch((error) => {
        console.error("Oops, something went wrong!");
        console.error(
          "Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:"
        );
        console.warn("Build id: reb26uh8ox5-193g9pg23i6c");
        console.error(error);
      });
    </script>
    <script>
      const addButton = document.getElementById("submitButton");
      const form = document.querySelector("form");
      const errorMessagesDiv = document.getElementById("errorMessages");

      addButton.addEventListener("click", function (event) {
        console.log("Add Post Button clicked");
        event.preventDefault(); // Prevent default form submission
        let errors = [];
        errorMessagesDiv.innerHTML = "";

        // Validate Title
        const title = document.getElementById("titleInput").value.trim();
        if (!title || title.length > 280) {
          console.log("title error detected");
          errors.push(
            "Title is required and must be less than 280 characters."
          );
        }

        // Validate Link
        const link = document.getElementById("linkinput").value.trim();
        if (!link || link.length > 2100) {
          console.log("link error detected");
          errors.push(
            "Link is required and must be less than 2100 characters."
          );
        }

        // Validate Year
        const year = document.getElementById("numinput").value.trim();
        if (!year) {
          console.log("year input not entered");
          errors.push("Year is required.");
        } else if (year < 1990 || year > Date) {
          console.log("link error detected");
          errors.push("Year must be after 1990 and before today");
        }

        // Validate Region
        const region = document.getElementById("regioninput").value;
        if (!region) {
          console.log("invalid region element");
          errors.push("Please select at least one region.");
        }

        // Validate Country
        const country = document.getElementById("countryinput").value;
        if (!country) {
          console.log("invalid country element");
          errors.push("Please select at least one country.");
        }

        // Validate Health risk
        const healthrisk = document.getElementById("healthriskinput").value;
        if (!healthrisk) {
          console.log("invalid healthrisk element");
          errors.push("Please select at least one health risk.");
        }

        // If there are no errors, submit the form manually
        if (errors.length === 0) {
          console.log("no errors detected");
          form.submit();
        } else {
          console.log("errors detected");
          // Display errors
          errors.forEach((error) => {
            const p = document.createElement("p");
            p.textContent = error;
            p.style.color = "red";
            errorMessagesDiv.appendChild(p);
          });
        }
      });
    </script>
  </body>
</html>
