<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
</head>
<body>
    <section>
        <h1><h1>This is the Edit Page!</h1></h1>
        <section>
            <ul>
                <% itemList.forEach(item => { %>
                    <% if (item._id==idItem) { %>
                        <li>
                            <form action="/edit/update/<%= item._id %>" method="POST">
                                <label for="titleinput">Input Title</label>
                                <input type="text" value="<%= item.titleinput %>" name="titleinput">
                                <br>
                                <label for="textinput">Input Text</label>
                                <input type="text" value="<%= item.textinput %>" name="textinput">
                                <br>
                                <label for="linkinput">Input Link</label>
                                <input type="text" value="<%= item.linkinput %>" name="linkinput">
                                <br>
                                <label for="numinput">Input Number</label>
                                <input type="number" value="<%= item.numinput %>" name="numinput">
                                <br>
                                <label for="region-select">Select a subregion:</label>
                                <select name="regioninput" id="region-select">
                                    <option value="">--Please choose an option--</option>
                                    <option value="north america">North America</option>
                                    <option value="central america">Central America</option>
                                    <option value="caribbean">Caribbean</option>
                                    <option value="south america">South America</option>
                                </select>
                                <br>
                                <label for="countryinput">Please input affected country(s)</label>
                                <select name="countryinput" id="countryinput" multiple>
                                    <option value="AntiguaAndBarbuda">Antigua and Barbuda</option>
                                    <option value="Argentina">Argentina</option>
                                    <option value="Bahamas">Bahamas</option>
                                    <option value="Barbados">Barbados</option>
                                    <option value="Belize">Belize</option>
                                    <option value="Bolivia">Bolivia</option>
                                    <option value="Brazil">Brazil</option>
                                    <option value="Canada">Canada</option>
                                    <option value="Chile">Chile</option>
                                    <option value="Colombia">Colombia</option>
                                    <option value="CostaRica">Costa Rica</option>
                                    <option value="Cuba">Cuba</option>
                                    <option value="Dominica">Dominica</option>
                                    <option value="DominicanRepublic">Dominican Republic</option>
                                    <option value="Ecuador">Ecuador</option>
                                    <option value="ElSalvador">El Salvador</option>
                                    <option value="Grenada">Grenada</option>
                                    <option value="Guatemala">Guatemala</option>
                                    <option value="Guyana">Guyana</option>
                                    <option value="Haiti">Haiti</option>
                                    <option value="Honduras">Honduras</option>
                                    <option value="Jamaica">Jamaica</option>
                                    <option value="Mexico">Mexico</option>
                                    <option value="Nicaragua">Nicaragua</option>
                                    <option value="Panama">Panama</option>
                                    <option value="Paraguay">Paraguay</option>
                                    <option value="Peru">Peru</option>
                                    <option value="SaintLucia">Saint Lucia</option>
                                    <option value="StVincentAndTheGrenadines">St. Vincent and the Grenadines</option>
                                    <option value="StKittsAndNevis">St. Kitts and Nevis</option>
                                    <option value="Suriname">Suriname</option>
                                    <option value="TrinidadAndTobago">Trinidad and Tobago</option>
                                    <option value="UnitedStates">United States</option>
                                    <option value="Uruguay">Uruguay</option>
                                    <option value="Venezuela">Venezuela</option>
                                </select>

                                <button type="submit" class="confirm">Confirm</button>
                                <a href="/" class="cancel">Cancel</a>
                            </form>
                        </li>
                        <% } else { %>
                            <li>
                                <div>
                                    <%= item.titleinput %>
                                </div>
                                <div>
                                    <%= item.textinput %>
                                </div>
                                <div>
                                    <%= item.linkinput %>
                                </div>
                                <div>
                                    <%= item.numinput %>
                                </div>
                                <div>
                                    <%= item.regioninput %>
                                </div>
                                <div>
                                    <%= item.countryinput %>
                                </div>
                                <a href="/edit/<%= item._id %>">Edit</a>
                                <a href="/edit/remove/<%= item._id %>" class="remove">Cancel</a>
                            </li>
                            <% } %>
                                <% }) %>
            </ul>
        </section>
    </section>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>
    <script>
        new MultiSelectTag('countryinput')  // id
    </script>
</body>
</html>