<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Item</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <section>
      <h1><h1>This is the Edit Page!</h1></h1>
      <section>
        <% itemList.forEach(item => { %> <% if (item._id==idItem) { %>

        <form action="/edit/update/<%= item._id %>" method="POST">
          <label for="titleinput">Input Title*</label>
          <input
            type="text"
            value="<%= item.titleinput %>"
            name="titleinput"
            maxlength="280"
          />
          <br />
          <label for="textinput">Input Text*</label>
          <textarea
            id="textinput"
            type="text"
            value="<%- item.textinput %>"
            name="textinput"
            maxlength="40000"
          >
<%- item.textinput %></textarea
          >
          <br />
          <label for="linkinput">Input Link*</label>
          <input
            type="url"
            value="<%= item.linkinput %>"
            name="linkinput"
            maxlength="2100"
          />
          <br />
          <label for="numinput">Input Year*</label>
          <input type="number" value="<%= item.numinput %>" name="numinput" />
          <br />
          <label for="regioninput">Select a subregion:*</label>
          <select
            name="regioninput"
            id="regioninput"
            type="text"
            value="<%= item.regioninput %>"
            multiple
          >
            <option value="" disabled selected hidden>
              <%= item.regioninput %>
            </option>
            <option value="">--Please choose an option--</option>
            <option value="The Americas">The Americas (full region)</option>
            <option value="North America">North America</option>
            <option value="Central America">Central America</option>
            <option value="Caribbean">Caribbean</option>
            <option value="South America">South America</option>
          </select>
          <br />
          <label for="countryinput">Please input affected country(s)*</label>
          <select type="text" name="countryinput" id="countryinput" multiple>
            <option value="" disabled selected hidden>
              <%= item.countryinput %>
            </option>
            <option value="All countries">All countries</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Barbados">Barbados</option>
            <option value="Belize">Belize</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Brazil">Brazil</option>
            <option value="Canada">Canada</option>
            <option value="Chile">Chile</option>
            <option value="Colombia">Colombia</option>
            <option value="CostaRica">Costa Rica</option>
            <option value="Cuba">Cuba</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="Ecuador">Ecuador</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Grenada">Grenada</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Honduras">Honduras</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Mexico">Mexico</option>
            <option value="Nicaragua">Nicaragua</option>
            <option value="Panama">Panama</option>
            <option value="Paraguay">Paraguay</option>
            <option value="Peru">Peru</option>
            <option value="Saint Lucia">Saint Lucia</option>
            <option value="St Vincent and the Grenadines">
              St. Vincent and the Grenadines
            </option>
            <option value="St Kitts and Nevis">St. Kitts and Nevis</option>
            <option value="Suriname">Suriname</option>
            <option value="Trinida and Tobago">Trinidad and Tobago</option>
            <option value="United States">United States</option>
            <option value="Uruguay">Uruguay</option>
            <option value="Venezuela">Venezuela</option>
          </select>

          <br />
          <label for="healthriskinput"
            >Please input relevant climate-sensitive health risks</label
          >
          <select
            name="healthriskinput"
            id="healthriskinput"
            value="<%= item.healthriskinput %>"
            multiple
          >
            <option value="" disabled selected hidden>
              <%= item.healthriskinput %>
            </option>
            <option value="General">General</option>
            <option value="Air-borne and respiratory illnesses">
              Air-borne and respiratory illnesses
            </option>
            <option value="Heat-related illness">Heat-related illness</option>
            <option value="Injury and mortality from extreme weather events">
              Injury and mortality from extreme weather events
            </option>
            <option value="Malnutrition and food-borne diseases">
              Malnutrition and food-borne diseases
            </option>
            <option value="Mental and psychosocial health">
              Mental and psychosocial health
            </option>
            <option value="Noncommunicable diseases (NCDs)">
              Noncommunicable diseases (NCDs)
            </option>
            <option value="Vector-borne diseases">Vector-borne diseases</option>
            <option
              value="Water-borne diseases and other water-related health outcomes"
            >
              Water-borne diseases and other water-related health outcomes
            </option>
            <option value="Zoonoses">Zoonoses</option>
          </select>

          <br />
          <label for="citationinput">Input Citation</label>
          <input type="text" name="citationinput" />

          <button type="submit" class="confirm">Confirm</button>
          <a href="/" class="cancel">Cancel</a>
        </form>

        <% } %> <% }) %>
      </section>

      <section>
        <ul>
          <% itemList.forEach(item => { %>
          <li>
            <h3><%- item.titleinput %></h3>
            <p><%- item.textinput %></p>
            <a href="<%= item.linkinput %>" target="_blank">Link</a>
            <div>Year: <%= item.numinput %></div>
            <div>Subregion affected: <%= item.regioninput %></div>
            <div>Countries affected: <%= item.countryinput %></div>
            <div>
              Climate-sensitive health risks: <%= item.healthriskinput %>
            </div>
            <div>Posted by <%= item.postedBy?.displayName %></div>
            <form action="/likePost/<%= item._id %>">
              <button type="submit">Like this post</button>
            </form>
            <div>This post has <%= item.likes %> likes</div>
            <div>This post has <%= item.comments %> comments</div>
            <div>Posted on <%= item.createdAt %></div>

            <%if(item.postedBy.id == user.id){ %>
            <a href="/edit/<%= item._id %>">Edit</a>
            <a href="/edit/remove/<%= item._id %>">Remove</a>
            <%}%>
          </li>
          <% }) %>
        </ul>
      </section>
    </section>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

    <script>
      new MultiSelectTag("regioninput"); // id
      new MultiSelectTag("countryinput"); // id
      new MultiSelectTag("healthriskinput"); // id

      // CKEDITOR.replace('textinput', {
      //     plugins: 'wysiwygarea, toolbar, basicstyles, link'
      // }, {placeholder: 'Welcome to CKEditor 5!'})
    </script>
    <script>
      ClassicEditor.create(document.querySelector("#textinput")).catch(
        (error) => {
          console.error(error);
        }
      );
    </script>
  </body>
</html>
