<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="Tagify" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate-Health Impacts Database</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <h1>Climate-Health Impact Tracker GUEST VIEW</h1>
    <a href="/auth/google">
      <i class="fab fa-google left"></i> Log In With Google to add posts, save
      posts, comment, and more!
    </a>

    <a href="/">back to home page</a>

    <!-- FILTER BUTTON -->
    <h2>Filter</h2>
    <form action="/getFilteredItems/guestDashboard/filter" method="GET">
      <label for="regionfilter">By subregion</label>
      <select name="regionfilter" id="regionfilter" type="text" multiple>
        <option value="">--Please choose an option--</option>
        <option value="The Americas (all subregions)">
          The Americas (full region)
        </option>
        <option value="North America">North America</option>
        <option value="Central America">Central America</option>
        <option value="Caribbean">Caribbean</option>
        <option value="South America">South America</option>
      </select>

      <label for="countryfilter">By country</label>
      <select type="text" name="countryfilter" id="countryfilter" multiple>
        <option value="All countries">All countries</option>
        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
        <option value="Argentina">Argentina</option>
        <option value="Bahamas">Bahamas</option>
        <option value="Barbados">Barbados</option>
        <option value="Belize">Belize</option>
        <option value="Bolivia">Bolivia</option>
        <option value="Brazil">Brazil</option>
        <option value="Canada">Canada</option>
        <option value="Chile">Chile</option>
        <option value="Colombia">Colombia</option>
        <option value="Costa Rica">Costa Rica</option>
        <option value="Cuba">Cuba</option>
        <option value="Dominica">Dominica</option>
        <option value="Dominican Republic">Dominican Republic</option>
        <option value="Ecuador">Ecuador</option>
        <option value="El Salvador">El Salvador</option>
        <option value="Grenada">Grenada</option>
        <option value="Guatemala">Guatemala</option>
        <option value="Guyana">Guyana</option>
        <option value="Haiti">Haiti</option>
        <option value="Honduras">Honduras</option>
        <option value="Jamaica">Jamaica</option>
        <option value="Mexico">Mexico</option>
        <option value="Nicaragua">Nicaragua</option>
        <option value="Panama">Panama</option>
        <option value="Paraguay">Paraguay</option>
        <option value="Peru">Peru</option>
        <option value="Saint Lucia">Saint Lucia</option>
        <option value="St Vincent and the Grenadines">
          St. Vincent and the Grenadines
        </option>
        <option value="St Kitts and Nevis">St. Kitts and Nevis</option>
        <option value="Suriname">Suriname</option>
        <option value="Trinida and Tobago">Trinidad and Tobago</option>
        <option value="United States">United States</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Venezuela">Venezuela</option>
      </select>

      <label for="healthriskfilter">By climate-sensitive health risks</label>
      <select name="healthriskfilter" id="healthriskfilter" multiple>
        <option value="General">General</option>
        <option value="Air-borne and respiratory illnesses">
          Air-borne and respiratory illnesses
        </option>
        <option value="Heat-related illness">Heat-related illness</option>
        <option value="Injury and mortality from extreme weather events">
          Injury and mortality from extreme weather events
        </option>
        <option value="Malnutrition and food-borne diseases">
          Malnutrition and food-borne diseases
        </option>
        <option value="Mental and psychosocial health">
          Mental and psychosocial health
        </option>
        <option value="Noncommunicable diseases (NCDs)">
          Noncommunicable diseases (NCDs)
        </option>
        <option value="Vector-borne diseases">Vector-borne diseases</option>
        <option
          value="Water-borne diseases and other water-related health outcomes"
        >
          Water-borne diseases and other water-related health outcomes
        </option>
        <option value="Zoonoses">Zoonoses</option>
      </select>

      <button type="submit">Filter</button>
    </form>

    <form action="/clearFilter/guestDashboard/1">
      <button type="submit">clear filter</button>
    </form>

    <!-- SORT BUTTON -->
    <h2>Sort</h2>
    <form action="/getSortedItems/guestDashboard/sort">
      <label for="sort">Sort By:</label>
      <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="">-- Select --</option>
        <option value="yearDecreasing">
          Year published (most recent first)
        </option>
        <option value="yearIncreasing">Year published (oldest first)</option>
        <option value="createdAtDecreasing">
          Date posted (most recent first)
        </option>
        <option value="createdAtIncreasing">Date posted (oldest first)</option>
        <option value="likes">Likes</option>
        <option value="comments">Comments</option>
      </select>

      <button type="submit">Sort</button>
    </form>

    <ul>
      <% itemList.forEach(item => { %>
      <li>
        <h3><%- item.titleinput %></h3>
        <p><%- item.textinput %></p>
        <a href="<%= item.linkinput %>" target="_blank">Link</a>
        <div>Year: <%= item.numinput %></div>
        <div>Subregion affected: <%= item.regioninput %></div>
        <div>Countries affected: <%= item.countryinput %></div>
        <div>Climate-sensitive health risks: <%= item.healthriskinput %></div>
        <div>
          Posted by
          <a href="/profile/guestDashboard/<%= item.postedBy._id%>"
            ><%= item.postedBy?.displayName%></a
          >
        </div>

        <form action="/auth/google">
          <button type="submit">Log in to like posts!</button>
        </form>

        <!-- If the post has 1 like, ensure the grammar fits accordingly -->
        <% if (item.likes == 1) {%>
        <div>This post has <%= item.likes %> like</div>
        <% } else { %>
        <div>This post has <%= item.likes %> likes</div>
        <% } %>

        <!-- If the post has 1 comment, ensure the grammar fits accordingly -->
        <% if (item.comments == 1) {%>
        <div>This post has <%= item.comments %> comment</div>
        <% } else { %>
        <div>This post has <%= item.comments %> comments</div>
        <% } %>

        <div>Posted on <%= item.createdAt %></div>

        <a href="/viewPost/guestDashboard/<%= item._id %>">View Post</a>
      </li>
      <% }) %>
    </ul>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

    <script>
      new MultiSelectTag("regionfilter"); // id
      new MultiSelectTag("countryfilter"); // id
      new MultiSelectTag("healthriskfilter"); // id

      // CKEDITOR.replace('textinput', {
      //     plugins: 'wysiwygarea, toolbar, basicstyles, link'
      // })
    </script>
    <script>
      ClassicEditor.create(document.querySelector("#textinput")).catch(
        (error) => {
          console.error(error);
        }
      );
    </script>
  </body>
</html>
