<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="Tagify" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate-Health Impacts Database</title>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
  </head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-0WC50VL0LH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-0WC50VL0LH');
</script>
  <body class="font-sans bg-climagray">
    <!-- Nav bar -->
    <%- include('partials/navbar') %>

    <!-- container div for feed, sort, title, filter -->
    <div id="containerForAll" class="2xl:flex 2xl:flex-col">
      <!-- Page title section -->
      <section
        class="flex justify-start w-6/12 mx-auto h-14 flex items-center max-w-[625px]"
      >
        <div class="">
          <h3
            class="h-12 leading-10 flex font-roboto text-2xl text-navblack font-bold flex items-center"
          >
            My liked posts
          </h3>
        </div>
      </section>

      <% 
  let startNumber = ((currentPage - 1) * 5) + 1;
  let endNumber = startNumber + itemList.length - 1;
%>

      <!--insert filter parameters here, but only if filters have been applied -->
      <!-- Check if any filters have been applied and if there are items to display -->
      <% if ((filterParameters.region.length > 0 || filterParameters.country.length > 0 || filterParameters.healthrisk.length > 0) && itemList.length > 0) { %>
        <section class="flex justify-start w-full mx-auto flex-col items-center max-w-[625px] ">
          <div class="filter-parameters">
            <h4>Showing <%= startNumber %>-<%= endNumber %> out of <%= totalItems %> posts</h4>
          </div>
          <div class="py-2 bg-[#FFFCFC] rounded-3xl shadow-xl text-navblack w-full">

            <h4 class="font-bold text-lg pl-4">Showing filtered results for:</h4>
            <% if (filterParameters.region.length > 0) { %>
              <div class="flex justify-start pt-2 pl-20">
                <p><b class="font-bold">Region: </b> <%= filterParameters.region.join(", ") %></p>
              </div>
            <% } %>
            <% if (filterParameters.country.length > 0) { %>
              <div class="flex justify-start pt-2 pl-20">
                <p><b class="font-bold">Country: </b><%= filterParameters.country.join(", ") %></p>
              </div>
            <% } %>
            <% if (filterParameters.healthrisk.length > 0) { %>
              <div class="pt-2 pl-20">
                <p><b class="font-bold">Health Impact: </b>
                <%= filterParameters.healthrisk.join(", ") %></p>
              </div>
            <% } %>
          </div>
        </section>
      <% } else if ((filterParameters.region.length > 0 || filterParameters.country.length > 0 || filterParameters.healthrisk.length > 0) && itemList.length == 0) { %>
        <section class="flex justify-start w-3/4 mx-auto flex items-center max-w-[625px]">
          <div class="py-2 bg-[#FFFCFC] rounded-3xl shadow-xl text-navblack w-full">
            <h4 class="font-bold text-lg pl-4">No posts were found for:</h4>
            <% if (filterParameters.region.length > 0) { %>
              <div class="flex justify-start pt-2 pl-20">
                <p><b class="font-bold">Region: </b> <%= filterParameters.region.join(", ") %></p>
              </div>
            <% } %>
            <% if (filterParameters.country.length > 0) { %>
              <div class="flex justify-start pt-2 pl-20">
                <p><b class="font-bold">Country: </b><%= filterParameters.country.join(", ") %></p>
              </div>
            <% } %>
            <% if (filterParameters.healthrisk.length > 0) { %>
              <div class="flex justify-start pt-2 pl-20">
                <p><b class="font-bold">Health Impact: </b>
                <%= filterParameters.healthrisk.join(", ") %></p>
              </div>
            <% } %>
          </div>
        </section>
      <% } else { %>
        <section class="flex justify-start w-1/2 mx-auto flex items-center max-w-[625px]">
          <div class="">
            <h4>Showing <%= startNumber %>-<%= endNumber %> out of <%= totalItems %> posts</h4>
          </div>
        </section>
      <% } %>

      
      <section
        class="flex justify-end w-6/12 mx-auto h-14 flex items-center max-w-[625px]"
      >
        <!-- <div class="">
          <h3
            class="h-12 leading-10 flex font-roboto text-xl text-navblack font-bold flex items-center"
          >
            Climate Change and Health Impacts Feed
          </h3>
        </div> -->
        <div class="flex justify-items-end flex gap-x-2">

        <!-- Only show the working 'Create Post' button if the user is logged in -->
        <% if (user._id === 'guest') { %>
          <button
            type="button"
            data-te-ripple-init
            data-te-ripple-color="light"
            data-te-toggle="modal"
    data-te-target="#exampleModalCenter"
            class="rounded-full relative inline-block rounded bg-[#28bb85] px-6 pb-2 pt-2.5 text-base font-medium leading-normal text-white shadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] dark:shadow-[0_4px_9px_-4px_#34D398] dark:hover:shadow-[0_8px_9px_-4px_#077F59] dark:focus:shadow-[0_8px_9px_-4px_#34D398] dark:active:shadow-[0_8px_9px_-4px_#077F59] flex gap-x-2.5 items-center"
          >
              Create a post<i class="fa-solid fa-plus"></i>
          </button>

          <!--Verically centered modal-->
<div
data-te-modal-init
class="fixed  left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
id="exampleModalCenter"
tabindex="-1"
aria-labelledby="exampleModalCenterTitle"
aria-modal="true"
role="dialog">
<div
  data-te-modal-dialog-ref
  class="pointer-events-none relative flex justify-center min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
  <div
    class="pointer-events-auto relative flex w-full  flex-col rounded-xl border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
    <div
      class="flex flex-shrink-0 items-center justify-between rounded-t-md p-4 dark:border-opacity-50">
      <!--Modal title-->
      <h5
        class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
        >
        
      </h5>
      <h1
        class="text-3xl font-medium leading-normal text-neutral-800 dark:text-neutral-200 pt-4"
        id="exampleModalCenterTitle">
        Sign Up
      </h1>
      <!--Close button-->
      <button
        type="button"
        class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none pb-8"
        data-te-modal-dismiss
        aria-label="Close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>

    <!--Modal body-->
    <div class="relative w-6/12 flex flex-wrap items-center justify-center self-center pb-12 pt-12">

      <h5
      class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
      >
      
    </h5>
      <p class="text-center text-lg">Create an account to easily save, like, add comments, and submit your own posts.</p>
    </div>

    <!--Modal footer-->
    <div
      class="flex flex-shrink-0 flex-wrap items-center justify-center rounded-b-md p-4 pb-12 dark:border-opacity-50">
      <!-- <button
        type="button"
        class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
        data-te-modal-dismiss
        data-te-ripple-init
        data-te-ripple-color="light">
        Close
      </button> -->
      <a 
      href="/auth/google"
      type="button"
      data-te-ripple-init
      data-te-ripple-color="light"
      class="ml-1 inline-block rounded-xl px-6 pb-2 pt-2.5 font-medium leading-normal border border-[#28bb85] hover:text-white sshadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] active:text-white dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
      >
      <button
        type="button"
        class=""
        ><img
        class="h-6 w-6 inline-block"
        src="https://www.svgrepo.com/show/475656/google-color.svg"
        loading="lazy"
        alt=""
      />
        Sign up with Google
      </button>
    </a>
    </div>
  </div>
</div>
</div>


          <%} else {%>
            <a href="/feed/savedPosts" class="px-5 py-3 rounded-full font-roboto font-semibold leading-none bg-[#CACACA] hover:bg-[#bdbdbd] transition duration-150">My saved posts</a>
            <a
            type="button"
            data-te-ripple-init
            data-te-ripple-color="light"
            href="/newPost"
            class="rounded-full relative inline-block rounded bg-[#28bb85] px-6 pb-2 pt-2.5 text-base font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] dark:shadow-[0_4px_9px_-4px_#34D398] dark:hover:shadow-[0_8px_9px_-4px_#077F59] dark:focus:shadow-[0_8px_9px_-4px_#34D398] dark:active:shadow-[0_8px_9px_-4px_#077F59]"
          >
            <button class="flex gap-x-2.5 items-center">
              Create a Post<i class="fa-solid fa-plus"></i>
            </button>
          </a>
            <% }%>
          <form action="/feed/likedPosts">
            <div
              class="w-24 bg-[#CACACA] font-roboto font-bold rounded-3xl text-navblack text-base"
            >
              <select
                data-te-select-init
                class=""
                name="sort"
                id="sortSelect"
                onchange="this.form.submit()"
                data-te-class-select-label="flex items-center justify-center !ml-4 pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate text-gray-500 transition-all duration-200 ease-out peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-200 dark:peer-focus:text-gray-200 data-[te-input-state-active]:scale-[0.8]"
                data-te-class-notch-leading="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full !w-6 border-r-0 rounded-l-full group-data-[te-input-focused]:border-r-0 group-data-[te-input-state-active]:border-r-0"
                data-te-class-notch-trailing="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-full group-data-[te-input-focused]:border-l-0 group-data-[te-input-state-active]:border-l-0"
                data-te-class-dropdown="w-64 relative outline-none min-w-[100px] m-0 scale-[0.8] opacity-0 bg-white shadow-[0_2px_5px_0_rgba(0,0,0,0.16),_0_2px_10px_0_rgba(0,0,0,0.12)] transition duration-200 motion-reduce:transition-none data-[te-select-open]:scale-100 data-[te-select-open]:opacity-100 dark:bg-zinc-700"
                data-te-class-form-outline="w-24 relative bg-[#CACACA] rounded-full hover:bg-[#bdbdbd] transition duration-150"
              >
                <option hidden selected></option>
                <option value="yearDecreasing">
                  Year Published (increasing)
                </option>
                <option value="yearIncreasing">
                  Year Published (decreasing)
                </option>
                <option value="createdAtDecreasing">
                  Date posted (decreasing)
                </option>
                <option value="createdAtIncreasing">
                  Date posted (increasing)
                </option>
                <option value="likes">Likes</option>
                <option value="comments">Comments</option>
              </select>
              <label data-te-select-label-ref class="text-navblack">Sort</label>
            </div>

            <!-- <button type="submit">Sort</button> -->
          </form>
        </div>
      </section>

      <div class="flex max-w-[1240px] 2xl:mx-auto mx-auto">
        <!-- FILTER BUTTON -->
        <section
          class="w-1/4 text-xl flex flex-col 2xl:max-w-[315px] 2xl:min-w-[315px]"
        >
          <!-- Tailwind-elements multi select -->
          <div>
            <form action="/feed/likedPosts" method="GET">
              <div
                class="w-64 mx-auto mb-6 flex items-center flex-col justify-center text-navblack text-lg"
              >
                <select
                  id="regionfilter"
                  name="regionfilter"
                  data-te-select-init
                  multiple
                  data-te-select-all="false"
                  data-te-select-filter="true"
                  data-te-class-select-label="!ml-4 pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate text-gray-500 transition-all duration-200 ease-out peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-200 dark:peer-focus:text-gray-200 data-[te-input-state-active]:scale-[0.8]"
                  data-te-class-notch-leading="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full !w-6 border-r-0 rounded-l-full group-data-[te-input-focused]:border-r-0 group-data-[te-input-state-active]:border-r-0"
                  data-te-class-notch-trailing="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-full group-data-[te-input-focused]:border-l-0 group-data-[te-input-state-active]:border-l-0"
                  data-te-class-dropdown="bg-[#FFFCFC] rounded-xl"
                  data-te-class-form-outline="w-64 relative bg-[#BEEDC0] rounded-full hover:bg-[#a0e5a3] transition duration-150"
                >
                  >
                  <option value="The Americas (all subregions)">
                    The Americas (all subregions)
                  </option>
                  <option value="North America">North America</option>
                  <option value="Central America">Central America</option>
                  <option value="Caribbean">Caribbean</option>
                  <option value="South America">South America</option>
                </select>
                <label
                  data-te-select-label-ref
                  class="text-navblack text-roboto font-bold"
                  >Filter by Subregion</label
                >
              </div>

              <div
                class="w-64 mx-auto my-6 flex items-center flex-col justify-center rounded-3xl text-navblack text-lg"
              >
                <select
                  class=""
                  id="countryfilter"
                  name="countryfilter"
                  data-te-select-init
                  data-te-select-filter="true"
                  multiple
                  data-te-select-all="false"
                  data-te-class-select-label="!ml-4 pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate text-gray-500 transition-all duration-200 ease-out peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-200 dark:peer-focus:text-gray-200 data-[te-input-state-active]:scale-[0.8]"
                  data-te-class-notch-leading="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full !w-6 border-r-0 rounded-l-full group-data-[te-input-focused]:border-r-0 group-data-[te-input-state-active]:border-r-0"
                  data-te-class-notch-trailing="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-full group-data-[te-input-focused]:border-l-0 group-data-[te-input-state-active]:border-l-0"
                  data-te-class-dropdown="rounded-xl w-72 relative outline-none min-w-[100px] m-0 scale-[0.8] opacity-0 bg-white shadow-[0_2px_5px_0_rgba(0,0,0,0.16),_0_2px_10px_0_rgba(0,0,0,0.12)] transition duration-200 motion-reduce:transition-none data-[te-select-open]:scale-100 data-[te-select-open]:opacity-100 dark:bg-zinc-700"
                  data-te-class-form-outline="w-64 relative bg-[#C6E8F0] rounded-full hover:bg-[#9ED8E5] transition duration-150"
                >
                  <option value="All countries">All countries</option>
                  <option value="Antigua and Barbuda">
                    Antigua and Barbuda
                  </option>
                  <option value="Argentina">Argentina</option>
                  <option value="Bahamas">Bahamas</option>
                  <option value="Barbados">Barbados</option>
                  <option value="Belize">Belize</option>
                  <option value="Bolivia">Bolivia</option>
                  <option value="Brazil">Brazil</option>
                  <option value="Canada">Canada</option>
                  <option value="Chile">Chile</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Dominica">Dominica</option>
                  <option value="Dominican Republic">Dominican Republic</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="El Salvador">El Salvador</option>
                  <option value="Grenada">Grenada</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Guyana">Guyana</option>
                  <option value="Haiti">Haiti</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Panama">Panama</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Saint Lucia">Saint Lucia</option>
                  <option value="St Vincent and the Grenadines">
                    St. Vincent and the Grenadines
                  </option>
                  <option value="St Kitts and Nevis">
                    St. Kitts and Nevis
                  </option>
                  <option value="Suriname">Suriname</option>
                  <option value="Trinidad and Tobago">
                    Trinidad and Tobago
                  </option>
                  <option value="United States">United States</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Venezuela">Venezuela</option>
                </select>
                <label
                  class="text-navblack text-roboto font-bold"
                  data-te-select-label-ref
                  >Filter by Country</label
                >
              </div>

              <div
                class="w-64 mx-auto my-6 flex items-center flex-col justify-center rounded-3xl text-navblack text-lg"
              >
                <select
                  class=""
                  id="healthriskfilter"
                  name="healthriskfilter"
                  data-te-select-init
                  data-te-select-filter="true"
                  multiple
                  data-te-select-all="false"
                  data-te-class-select-label="!ml-4 pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate text-gray-500 transition-all duration-200 ease-out peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-gray-200 dark:peer-focus:text-gray-200 data-[te-input-state-active]:scale-[0.8]"
                  data-te-class-notch-leading="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full !w-6 border-r-0 rounded-l-full group-data-[te-input-focused]:border-r-0 group-data-[te-input-state-active]:border-r-0"
                  data-te-class-notch-trailing="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-full group-data-[te-input-focused]:border-l-0 group-data-[te-input-state-active]:border-l-0"
                  data-te-class-dropdown="rounded-xl w-96 relative outline-none min-w-[100px] m-0 scale-[0.8] opacity-0 bg-white shadow-[0_2px_5px_0_rgba(0,0,0,0.16),_0_2px_10px_0_rgba(0,0,0,0.12)] transition duration-200 motion-reduce:transition-none data-[te-select-open]:scale-100 data-[te-select-open]:opacity-100 dark:bg-zinc-700"
                  data-te-class-form-outline="w-64 relative bg-[#E7C6B2] rounded-full hover:bg-[#DBA98B] transition duration-150"
                  data-te-class-select-arrow="absolute right-3 text-[0.4rem] cursor-pointer peer-focus:text-primary peer-data-[te-input-focused]:text-primary group-data-[te-was-validated]/validation:peer-valid:text-green-600 group-data-[te-was-validated]/validation:peer-invalid:text-[rgb(220,76,100)] w-5 h-5"
                  data-te-class-options-wrapper="overflow-y-auto overflow-x-auto"
                >
                  <option value="General">General</option>
                  <option value="Air-borne and respiratory illnesses">
                    Air-borne and respiratory illnesses
                  </option>
                  <option value="Heat-related illness">
                    Heat-related illness
                  </option>
                  <option
                    value="Injury and mortality from extreme weather events"
                  >
                    Injury and mortality from extreme weather events
                  </option>
                  <option value="Malnutrition and food-borne diseases">
                    Malnutrition and food-borne diseases
                  </option>
                  <option value="Mental and psychosocial health">
                    Mental and psychosocial health
                  </option>
                  <option value="Noncommunicable diseases (NCDs)">
                    Noncommunicable diseases (NCDs)
                  </option>
                  <option value="Vector-borne diseases">
                    Vector-borne diseases
                  </option>
                  <option
                    value="Water-borne diseases and other water-related health outcomes"
                  >
                    Water-borne diseases and other water-related health outcomes
                  </option>
                  <option value="Zoonoses">Zoonoses</option>
                </select>
                <label
                  class="text-navblack text-roboto font-bold"
                  data-te-select-label-ref
                  >Filter by Health Impact</label
                >
              </div>

              <button
                class="w-64 bg-[#CACACA] flex items-center flex-col justify-center mx-auto p-2.5 rounded-3xl font-roboto font-bold my-6 hover:bg-[#bdbdbd] transition duration-150"
                type="submit"
                data-te-ripple-init
                data-te-ripple-color="light"
              >
                Apply filter
              </button>
            </form>
          </div>


          <!-- CLEAR SORT BUTTON -->
          <form action="/clearFilter/likedPosts/1">
            <button
              type="submit"
              class="w-64 bg-[#CACACA] flex items-center flex-col justify-center mx-auto p-2.5 rounded-3xl font-roboto font-bold hover:bg-[#bdbdbd] transition duration-150"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              clear filter
            </button>
          </form>
        </section>

        <!-- PARTIAL FOR ITEMS LIST FEED -->
        <section class="w-1/2 max-w-[625px] 2xl:w-[625px]">
          <%- include('partials/itemsFeed') %>
        </section>
        <div class="w-1/4 2xl:w-[315px]"></div>
      </div>

      <!-- Pagination controls -->
      <% const sanitizedCurrentSort = (String(currentSort).startsWith(',')) ? String(currentSort).substring(1) : String(currentSort); %>
      <% 
    const uniqueRegionFilter = [...new Set(regionfilter)];
    const uniqueCountryFilter = [...new Set(countryfilter)];
    const uniqueHealthRiskFilter = [...new Set(healthriskfilter)];
%>
<div
class="flex justify-center w-6/12 mx-auto h-14 flex items-center max-w-[625px]"
>
<nav aria-label="Page navigation example" class="">
  <ul class="list-style-none flex">
    <li>
      <% if (currentPage > 1) { %>
        <a
          href="/feed/likedPosts?page=<%= parseInt(currentPage) - 1 %>&sort=<%= sanitizedCurrentSort %><% uniqueRegionFilter.forEach(function(filter) { %>&regionfilter=<%= filter %><% }); %><% uniqueCountryFilter.forEach(function(filter) { %>&countryfilter=<%= filter %><% }); %><% uniqueHealthRiskFilter.forEach(function(filter) { %>&healthriskfilter=<%= filter %><% }); %>"
          class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-200 hover:underline dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        >
          Previous
        </a>
      <% } else { %>
        <!-- Hidden Previous Button -->
      <% } %>
    </li>

    <% for (let page = 1; page <= totalPages; page++) { %>
      <li <% if (page === currentPage) { %> aria-current="page" <% } %> >
        <a
          href="/feed/likedPosts?page=<%= parseInt(page)%>&sort=<%= sanitizedCurrentSort %><% uniqueRegionFilter.forEach(function(filter) { %>&regionfilter=<%= filter %><% }); %><% uniqueCountryFilter.forEach(function(filter) { %>&countryfilter=<%= filter %><% }); %><% uniqueHealthRiskFilter.forEach(function(filter) { %>&healthriskfilter=<%= filter %><% }); %>"
          class="relative block rounded px-3 py-1.5 text-sm <%= page == currentPage ? 'text-md font-bold text-primary-700 bg-[#CACACA]' : 'text-neutral-600' %> transition-all duration-300 hover:bg-neutral-200 hover:underline dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        >
          <%= page %>
          <% if (page === currentPage) { %>
            <span class="absolute -m-px h-px w-px overflow-hidden whitespace-nowrap border-0 p-0 [clip:rect(0,0,0,0)]">(current)</span>
          <% } %>
        </a>
      </li>
    <% } %>

    <li>
      <% if (currentPage < totalPages) { %>

        <a
          href="/feed/likedPosts?page=<%= parseInt(currentPage) + 1 %>&sort=<%= sanitizedCurrentSort %><% uniqueRegionFilter.forEach(function(filter) { %>&regionfilter=<%= filter %><% }); %><% uniqueCountryFilter.forEach(function(filter) { %>&countryfilter=<%= filter %><% }); %><% uniqueHealthRiskFilter.forEach(function(filter) { %>&healthriskfilter=<%= filter %><% }); %>"
          class="relative block rounded bg-transparent px-3 py-1.5 text-sm text-neutral-600 transition-all duration-300 hover:bg-neutral-200 hover:underline dark:text-white dark:hover:bg-neutral-700 dark:hover:text-white"
        >
          Next
        </a>
      <% } else { %>
        <!-- Hidden Next Button -->
      <% } %>
    </li>
  </ul>
</nav>
</div>
    </div>
    <footer><%- include('partials/footer') %></footer>

    <!-- Tailwind Elements stuff -->
    <script
      type="text/javascript"
      src="/tw-elements/dist/js/tw-elements.umd.min.js"
    ></script>

    <script>
      const regionfilter = document.querySelector("#regionfilter");
      const multiSelectInstance1 = te.Select.getInstance(regionfilter);
      multiSelectInstance1.setValue([]);

      const countryfilter = document.querySelector("#countryfilter");
      const multiSelectInstance2 = te.Select.getInstance(countryfilter);
      multiSelectInstance2.setValue([]);

      const healthriskfilter = document.querySelector("#healthriskfilter");
      const multiSelectInstance3 = te.Select.getInstance(healthriskfilter);
      multiSelectInstance3.setValue([]);

      const sortSelect = document.querySelector("#sortSelect");
      const sortInstance = te.Select.getInstance(sortSelect);
      sortInstance.setValue([]);
    </script>

    <!-- OLD multi select stuff -->
    <!-- <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script> -->

    <script>
      // new MultiSelectTag("regioninput"); // id
      // new MultiSelectTag("countryinput"); // id
      // new MultiSelectTag("healthriskinput"); // id

      // new MultiSelectTag("regionfilter", {
      //   rounded: true,
      // }); // id
      // new MultiSelectTag("countryfilter"); // id
      // new MultiSelectTag("healthriskfilter"); // id

      // CKEDITOR.replace('textinput', {
      //     plugins: 'wysiwygarea, toolbar, basicstyles, link'
      // })

      function showConfirmation(itemId) {
        console.log("Button clicked!");
        const result = confirm(
          "Are you sure you want to delete this post/comment?"
        );
        if (result) {
          window.location.href = `/edit/remove/${itemId}`;
        }
      }
    </script>
    <script>
      ClassicEditor.create(document.querySelector("#textinput")).catch(
        (error) => {
          console.error(error);
        }
      );
    </script>
  </body>
</html>
