<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="Tagify" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate-Health Impacts Database</title>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
  </head>
  <body class="font-sans bg-climagray">
    
    <!-- Nav bar -->
    <%- include('partials/navbar') %>

    <!-- container div for feed, sort, title, filter -->
    <div id="containerForAll" class="2xl:flex 2xl:flex-col"> 
      <!-- Page title section -->
      

      <!-- SECTION FOR POST AND BACK BUTTON  -->
      
      <div class="flex justify-between w-6/12 mx-auto h-14 flex items-center max-w-[625px]"> 

        <!-- BACK TO LAST PAGE BUTTON -->
       
        <button
          class="text-neutral-500 rounded-3xl underline hover:underline px-6 py-1.5 rounded-3xl font-roboto text-md transition duration-150 transition duration-150 ease-in-out  hover:bg-[#CACACA] hover:text-navblack focus:bg-[#CACACA] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#CACACA] active:shadow-[0_8px_9px_-4px_#34D398] dark:shadow-[0_4px_9px_-4px_#34D398] dark:hover:shadow-[0_8px_9px_-4px_#CACACA] dark:focus:shadow-[0_8px_9px_-4px_#34D398] dark:active:shadow-[0_8px_9px_-4px_#CACACA]"
          type="button"
          id="backButton"
        >
          <div
            class=""
          >
          <i class="fa-solid fa-arrow-left mr-2"></i>Back to feed 
          </div>
        </button>
      

      <!-- CREATE POST BUTTON  -->
      <!-- Only show the working 'Create Post' button if the user is logged in -->
      <% if (user._id === 'guest') { %>
        <button
          type="button"
          data-te-ripple-init
          data-te-ripple-color="light"
          data-te-toggle="modal"
  data-te-target="#exampleModalViewCreatePost"
          class="rounded-full relative inline-block rounded bg-[#28bb85] px-6 pb-2 pt-2.5 text-base font-medium leading-normal text-white shadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] dark:shadow-[0_4px_9px_-4px_#34D398] dark:hover:shadow-[0_8px_9px_-4px_#077F59] dark:focus:shadow-[0_8px_9px_-4px_#34D398] dark:active:shadow-[0_8px_9px_-4px_#077F59] flex gap-x-2.5 items-center"
        >
            Create a post<i class="fa-solid fa-plus"></i>
        </button>

        <!--CREATE POST MODAL Verically centered modal-->
        <div
        data-te-modal-init
        class="fixed  left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
        id="exampleModalViewCreatePost"
        tabindex="-1"
        aria-labelledby="exampleModalCenterTitle"
        aria-modal="true"
        role="dialog">
        <div
        data-te-modal-dialog-ref
        class="pointer-events-none relative flex justify-center min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]">
        <div
          class="pointer-events-auto relative flex w-full  flex-col rounded-xl border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600">
          <div
            class="flex flex-shrink-0 items-center justify-between rounded-t-md p-4 dark:border-opacity-50">
            <!--Modal title-->
            <h5
              class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
              >
              
            </h5>
            <h1
              class="text-3xl font-medium leading-normal text-neutral-800 dark:text-neutral-200 pt-4"
              id="exampleModalCenterTitle">
              Sign Up
            </h1>
            <!--Close button-->
            <button
              type="button"
              class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none pb-8"
              data-te-modal-dismiss
              aria-label="Close">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="h-6 w-6">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>

          <!--Modal body-->
          <div class="relative w-6/12 flex flex-wrap items-center justify-center self-center pb-12 pt-12">

            <h5
            class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
            >
            
          </h5>
            <p class="text-center text-lg">Create an account to easily save, like, add comments, and submit your own posts.</p>
          </div>

          <!--Modal footer-->
          <div
            class="flex flex-shrink-0 flex-wrap items-center justify-center rounded-b-md p-4 pb-12 dark:border-opacity-50">
            <!-- <button
              type="button"
              class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
              data-te-modal-dismiss
              data-te-ripple-init
              data-te-ripple-color="light">
              Close
            </button> -->
            <a 
            href="/auth/google"
            type="button"
            data-te-ripple-init
            data-te-ripple-color="light"
            class="ml-1 inline-block rounded-xl px-6 pb-2 pt-2.5 font-medium leading-normal border border-[#28bb85] hover:text-white sshadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] active:text-white dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
            >
            <button
              type="button"
              class=""
              ><img
              class="h-6 w-6 inline-block"
              src="https://www.svgrepo.com/show/475656/google-color.svg"
              loading="lazy"
              alt=""
            />
              Sign up with Google
            </button>
          </a>
          </div>
        </div>
        </div>
        </div>
        <!-- CREATE POST MODAL END -->

        <%} else {%>
          <a
          type="button"
          data-te-ripple-init
          data-te-ripple-color="light"
          href="/newPost"
          class="rounded-full relative inline-block rounded bg-[#28bb85] px-6 pb-2 pt-2.5 text-base font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] dark:shadow-[0_4px_9px_-4px_#34D398] dark:hover:shadow-[0_8px_9px_-4px_#077F59] dark:focus:shadow-[0_8px_9px_-4px_#34D398] dark:active:shadow-[0_8px_9px_-4px_#077F59]"
        >
          <button class="flex gap-x-2.5 items-center">
            Create a Post<i class="fa-solid fa-plus"></i>
          </button>
        </a>
          <% }%>

        </div>

    <!-- LEFT SIDE BAR -->

    <div class="flex max-w-[1240px] 2xl:mx-auto mx-auto ">
      <!-- FILTER BUTTON -->
      <section
        class="w-1/4 text-xl flex flex-col 2xl:max-w-[315px] 2xl:min-w-[315px]"
      >
        <!-- Tailwind-elements multi select -->
        <div>
          
        </div>

      </section>

      <!-- PARTIAL FOR ITEMS LIST FEED VIEW OF POST --> 
      <section class="w-1/2 max-w-[625px] 2xl:w-[625px]">
        <div class=""> 
          <div
    class="block w-full bg-[#FFFCFC] rounded-3xl shadow-xl flex justify-start transition duration-150"
    href="#"
  >
    <div class="flex w-20">
      <a
        class="self-start mx-auto mt-1.5 rounded-full w-7/12"
        href="/profile/<%= item.postedBy._id%>"
        ><img
          class="self-start mx-auto rounded-full w-full"
          src="<%- item.postedBy?.image%>"
          alt="user image"
        />
      </a>
    </div>
    <div class="w-full">
      <div class="flex justify-between pt-2">

        <!-- Top bar with username, date posted, and link -->
        <div class="flex gap-x-1.5">
          <a
            href="/profile/<%= item.postedBy._id%>"
            class="underline font-roboto text-sm"
            ><%= item.postedBy?.displayName%></a
          >

          <div class="text-sm text-neutral-500">
            posted <%= item.createdAt.toLocaleDateString('en-US', { month:
            'short', day: 'numeric' }) %>
          </div>

          <a
            class="text-primary text-sm hover:underline"
            href="<%= item.linkinput %>"
            target="_blank"
            ><%= item.linkinput.replace(/(^\w+:|^)\/\/(www\.)?/, '').slice(0,
            16) + (item.linkinput.length > 16 ? '...' : '') %><i
              class="fa-solid fa-link fa-xs"
              style="color: #3b71ca"
            ></i
          ></a>
        </div>

        <!-- 3 dots menu start for posts START -->
        <div class="justify-self-end pr-2">
          <div class="relative" data-te-dropdown-ref>
            <button
              class="w-8 h-8 rounded-full hover:bg-[#e2e7eb] transition duration-150 active:bg-[#e2e7eb] focus:bg-[#e2e7eb]"
              type="button"
              id="dropdownMenuSmallButton"
              data-te-dropdown-toggle-ref
              aria-expanded="false"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              <i class="fa-solid fa-ellipsis" style="color: #5b7083"></i>
            </button>
            <ul
              class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
              aria-labelledby="dropdownMenuSmallButton"
              data-te-dropdown-menu-ref
            >
              <% if (item.reportedBy.includes(user.id) || user._id === 'guest')
              { %>
              <li>
                <a
                  class="pointer-events-none block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-400 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-500 dark:hover:bg-neutral-600"
                  href="#"
                  data-te-dropdown-item-ref
                  >Report post</a
                >
              </li>
              <% } else { %>
              <li>
                <button
                  type="button"
                  class="inline-block rounded bg-light px-6 pb-2 pt-2.5 text-sm font-medium leading-normal text-danger transition duration-150 ease-in-out hover:bg-secondary-200 focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] shadow-none"
                  data-te-dropdown-item-ref
                  data-te-toggle="modal"
                  data-te-target="#reportModal<%= item._id %>"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                >
                  Report post
                </button>
              </li>

              <% } %> <%if(item.postedBy.id == user.id){ %>
              <li>
                <a
                  class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600 text-center"
                  href="/edit/<%= item._id %>"
                  data-te-dropdown-item-ref
                  >Edit post</a
                >
              </li>

              <li>
                <button
                  type="button"
                  class="w-full inline-block rounded bg-light px-6 pb-2 pt-2.5 text-sm font-medium leading-normal text-danger shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-secondary-200 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                  data-te-dropdown-item-ref
                  data-te-toggle="modal"
                  data-te-target="#exampleModal<%= item._id %>"
                  data-te-ripple-init
                  data-te-ripple-color="light"
                >
                  Delete post
                </button>
              </li>
              <%}%>
            </ul>
            <!-- Delete Modal START -->
            <div
              data-te-modal-init
              class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
              id="exampleModal<%= item._id %>"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div
                data-te-modal-dialog-ref
                class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]"
              >
                <div
                  class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
                >
                  <div
                    class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
                  >
                    <!--Modal title-->
                    <h5
                      class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                      id="exampleModalLabel"
                    >
                      Warning: Deleting this post is irreversible. Confirm
                      delete?
                    </h5>
                    <!--Close button-->
                    <button
                      type="button"
                      class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                      data-te-modal-dismiss
                      aria-label="Close"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>

                  <!--Modal body-->
                  <!-- <div class="relative flex-auto p-4" data-te-modal-body-ref>BODY</div> -->

                  <!--Modal footer-->
                  <div
                    class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
                  >
                    <button
                      type="button"
                      class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                      data-te-modal-dismiss
                      data-te-ripple-init
                      data-te-ripple-color="light"
                    >
                      Close
                    </button>
                    <a
                      class="ml-1 inline-block rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-danger-800 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                      href="/edit/remove/<%= item._id %>"
                    >
                      DELETE POST
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Delete MODAL END  -->

            <!-- Report Modal START -->
            <div
              data-te-modal-init
              class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
              id="reportModal<%= item._id %>"
              tabindex="-1"
              aria-labelledby="reportModalLabel"
              aria-hidden="true"
            >
              <div
                data-te-modal-dialog-ref
                class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]"
              >
                <div
                  class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
                >
                  <div
                    class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
                  >
                    <!--Modal title-->
                    <h5
                      class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                      id="exampleModalLabel"
                    >
                      Reporting is irreversible and should be used to flag
                      irrelevant or inappropriate posts. Are you sure you want
                      to proceed?
                    </h5>
                    <!--Close button-->
                    <button
                      type="button"
                      class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                      data-te-modal-dismiss
                      aria-label="Close"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-6 w-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M6 18L18 6M6 6l12 12"
                        />
                      </svg>
                    </button>
                  </div>

                  <!--Modal body-->
                  <!-- <div class="relative flex-auto p-4" data-te-modal-body-ref>BODY</div> -->

                  <!--Modal footer-->
                  <div
                    class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
                  >
                    <button
                      type="button"
                      class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                      data-te-modal-dismiss
                      data-te-ripple-init
                      data-te-ripple-color="light"
                    >
                      Close
                    </button>
                    <a
                      class="ml-1 inline-block rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-danger-800 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                      data-te-ripple-init
                      data-te-ripple-color="light"
                      href="/reportPost/<%= item._id %>"
                    >
                      REPORT POST
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Report MODAL END  -->
          </div>
        </div>
        <!-- 3 dots menu start for posts END-->
      </div>

      <!-- Main text of post -->
      <h1
        
        class="block text-xl font-medium font-roboto pt-2 pb-1.5 mr-3.5 w-[30rem]"
      >
        <%- item.titleinput %>
    </h1>

        <div class="block text-neutral-700 text-sm pb-1.5 w-[30rem]"> 
          <%- item.textinput%>
        </div>
      
      <div class="flex gap-1.5 flex-wrap pb-1.5">
        <!-- year bubble -->
        <div class="bg-[#CACACA] py-1.5 px-3 rounded-3xl font-roboto text-sm">
          <%= item.numinput %>
        </div>

        <!-- loop through subregions and generate a div for each item in the array -->
        <% if (item.regioninput.length > 0) { %> <%
        item.regioninput.forEach(region => { %>

        <a
          class="rounded-3xl h-full hover:underline"
          href="/dashboard?regionfilter=<%= region%>&&countryfilter=&healthriskfilter="
        >
          <div
            class="bg-[#BEEDC0] p-1.5 px-2 rounded-3xl font-roboto text-sm hover:bg-[#a0e5a3] transition duration-150"
          >
            <%= region %>
          </div>
        </a>

        <% }); %> <% } %>

        <!-- loop through country input and generate a div for each item in the array -->
        <% if (item.countryinput.length > 0) { %> <%
        item.countryinput.forEach(country => { %>
        <a
          class="rounded-3xl h-full hover:underline"
          href="/dashboard?regionfilter=&&countryfilter=<%= country%>&healthriskfilter="
        >
          <div
            class="bg-[#C6E8F0] p-1.5 px-2 rounded-3xl font-roboto text-sm hover:bg-[#9ED8E5] transition duration-150"
          >
            <%= country %>
          </div>
        </a>
        <% }); %> <% } %>

        <!-- loop through health risks and generate a div for each item in the array -->
        <% if (item.healthriskinput.length > 0) { %> <%
        item.healthriskinput.forEach(healthRisk => { %>
        <a
          class="rounded-3xl h-full hover:underline"
          href="/dashboard?regionfilter=&&countryfilter=&healthriskfilter=<%=healthRisk%>"
        >
          <div
            class="bg-[#E7C6B2] p-1.5 px-2 rounded-3xl font-roboto text-sm hover:bg-[#DBA98B] transition duration-150"
          >
            <%= healthRisk %>
          </div>
        </a>
        <% }); %> <% } %>
      </div>

      <div class="flex justify-start w-[30rem] py-1">
        <div class="flex justify-between w-4/6">
          <!-- comments icon -->
          <div
            
            class="flex justify-center"
          >
            <span
              class="grid flex items-center w-9 h-9 rounded-full hover:bg-[#e2e7eb] transition duration-150"
            >
              <i class="fa-regular fa-comment justify-self-center " style="color: #5b7083"></i>
            </span>
            <% if (item.comments == 1) {%>
            <div
              title="<%= item.comments %> comment"
              class="text-neutral-500 flex items-center"
            >
              <%= item.comments %>
            </div>
            <% } else if (item.comments > 1) { %>
            <div
              title="<%= item.comments %> comments"
              class="text-neutral-500 flex items-center"
            >
              <%= item.comments %>
            </div>
            <% } else {%>
            <div
              title="<%= item.comments %> comments"
              class="text-neutral-500 flex items-center"
            ></div>
            <% } %>
            </div>

          <!-- Like button logic for guests -->
          <% if (user._id === 'guest') { %>
          <div class="flex justify-center">
            <button
              type="button"
              title="Unlike post"
              class="w-9 h-9 rounded-full hover:bg-[#fee4f0] transition duration-150"
              data-te-toggle="modal"
              data-te-target="#exampleModalCenterLike"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              <i class="fa-regular fa-heart" style="color: #5b7083"></i>
            </button>
            <% if (item.likes == 1) {%>
            <div
              title="<%= item.likes %> like"
              class="text-neutral-500 flex items-center"
            >
              <%= item.likes %>
            </div>
            <% } else if (item.likes > 1) { %>
            <div
              title="<%= item.likes %> likes"
              class="text-neutral-500 flex items-center"
            >
              <%= item.likes %>
            </div>
            <% } %>
          </div>

          <!--LIKE POST GUEST MODAL START -->
          <div
            data-te-modal-init
            class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
            id="exampleModalCenterLike"
            tabindex="-1"
            aria-labelledby="exampleModalCenterTitle"
            aria-modal="true"
            role="dialog"
          >
            <div
              data-te-modal-dialog-ref
              class="pointer-events-none relative flex justify-center min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]"
            >
              <div
                class="pointer-events-auto relative flex w-full flex-col rounded-xl border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
              >
                <div
                  class="flex flex-shrink-0 items-center justify-between rounded-t-md p-4 dark:border-opacity-50"
                >
                  <!--Modal title-->
                  <h5
                    class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                  ></h5>
                  <h1
                    class="text-3xl font-medium leading-normal text-neutral-800 dark:text-neutral-200 pt-4"
                    id="exampleModalCenterTitle"
                  >
                    Sign Up
                  </h1>
                  <!--Close button-->
                  <button
                    type="button"
                    class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none pb-8"
                    data-te-modal-dismiss
                    aria-label="Close"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </button>
                </div>

                <!--Modal body-->
                <div
                  class="relative w-6/12 flex flex-wrap items-center justify-center self-center pb-12 pt-12"
                >
                  <h5
                    class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                  ></h5>
                  <p class="text-center text-lg">
                    Create an account to easily save, like, add comments, and
                    submit your own posts.
                  </p>
                </div>

                <!--Modal footer-->
                <div
                  class="flex flex-shrink-0 flex-wrap items-center justify-center rounded-b-md p-4 pb-12 dark:border-opacity-50"
                >
                  <!-- <button
                type="button"
                class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                data-te-modal-dismiss
                data-te-ripple-init
                data-te-ripple-color="light">
                Close
              </button> -->
                  <a
                    href="/auth/google"
                    type="button"
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    class="ml-1 inline-block rounded-xl px-6 pb-2 pt-2.5 font-medium leading-normal border border-[#28bb85] hover:text-white sshadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] active:text-white dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                  >
                    <button type="button" class="">
                      <img
                        class="h-6 w-6 inline-block"
                        src="https://www.svgrepo.com/show/475656/google-color.svg"
                        loading="lazy"
                        alt=""
                      />
                      Sign up with Google
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- LIKE BUTTON MODAL END -->

          <%} else { %>

          <form action="/likePost/<%= item._id %>" class="flex justify-center">
            <% if (user.likedPosts.includes(item._id)) { %>
            <!-- If post is already liked by the user, display "Unlike this post" -->
            <button
              type="submit"
              title="Unlike post"
              class="w-9 h-9 rounded-full hover:bg-[#fee4f0] transition duration-150"
            >
              <i class="fa-solid fa-heart" style="color: #f91880"></i>
            </button>

            <% if (item.likes == 1) {%>
            <div
              title="<%= item.likes %> like"
              class="text-neutral-500 flex items-center"
            >
              <%= item.likes %>
            </div>
            <% } else if (item.likes > 1){ %>
            <div
              title="<%= item.likes %> likes"
              class="text-neutral-500 flex items-center"
            >
              <%= item.likes %>
            </div>
            <% } %> <% } else { %>
            <!-- If post is not saved by the user, display "Save this post" -->
            <button
              type="submit"
              title="Like post"
              class="w-9 h-9 rounded-full hover:bg-[#fee4f0] transition duration-150"
            >
              <i class="fa-regular fa-heart" style="color: #5b7083"></i>
            </button>
            <!-- If the post has 1 like, ensure the grammar fits accordingly -->
            <% if (item.likes == 1) {%>
            <div
              class="text-neutral-500 flex items-center"
              title="<%= item.likes %> like"
            >
              <%= item.likes %>
            </div>
            <% } else if (item.likes > 1){ %>
            <div
              class="text-neutral-500 flex items-center"
              title="<%= item.likes %> likes"
            >
              <%= item.likes %>
            </div>
            <% } %> <% } %>
          </form>
          <% }%>

          <form action="/savePost/<%= item._id %>">
            <% if (user.savedPosts.includes(item._id)) { %>
            <!-- If post is already saved by the user, display "Unsave this post" -->
            <button
              type="submit"
              title="Unsave post"
              class="w-9 h-9 rounded-full hover:bg-[#e2e7eb] transition duration-150"
            >
              <i
                class="fa-solid fa-bookmark"
                alt="Unsave"
                style="color: #5b7083"
              ></i>
            </button>
            <% } else if (user._id != "guest"){ %>
            <!-- If post is not saved by the user, display "Save this post" -->
            <button
              type="submit"
              title="Save post"
              class="w-9 h-9 rounded-full hover:bg-[#e2e7eb] transition duration-150"
            >
              <i
                class="fa-regular fa-bookmark"
                alt="Save"
                style="color: #5b7083"
              ></i>
            </button>
            <% } else {%>
            <button
              type="button"
              title="Save post"
              class="w-9 h-9 rounded-full hover:bg-[#e2e7eb] transition duration-150"
              data-te-toggle="modal"
              data-te-target="#exampleModalCenterSaveButton"
              data-te-ripple-init
              data-te-ripple-color="light"
            >
              <i
                class="fa-regular fa-bookmark"
                alt="Save"
                style="color: #5b7083"
              ></i>
            </button>
            <% }%>
          </form>

          <!--SAVE BUTTON MODAL START -->
          <div
            data-te-modal-init
            class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
            id="exampleModalCenterSaveButton"
            tabindex="-1"
            aria-labelledby="exampleModalCenterTitle"
            aria-modal="true"
            role="dialog"
          >
            <div
              data-te-modal-dialog-ref
              class="pointer-events-none relative flex justify-center min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]"
            >
              <div
                class="pointer-events-auto relative flex w-full flex-col rounded-xl border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
              >
                <div
                  class="flex flex-shrink-0 items-center justify-between rounded-t-md p-4 dark:border-opacity-50"
                >
                  <!--Modal title-->
                  <h5
                    class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                  ></h5>
                  <h1
                    class="text-3xl font-medium leading-normal text-neutral-800 dark:text-neutral-200 pt-4"
                    id="exampleModalCenterTitle"
                  >
                    Sign Up
                  </h1>
                  <!--Close button-->
                  <button
                    type="button"
                    class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none pb-8"
                    data-te-modal-dismiss
                    aria-label="Close"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </button>
                </div>

                <!--Modal body-->
                <div
                  class="relative w-6/12 flex flex-wrap items-center justify-center self-center pb-12 pt-12"
                >
                  <h5
                    class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                  ></h5>
                  <p class="text-center text-lg">
                    Create an account to easily save, like, add comments, and
                    submit your own posts.
                  </p>
                </div>

                <!--Modal footer-->
                <div
                  class="flex flex-shrink-0 flex-wrap items-center justify-center rounded-b-md p-4 pb-12 dark:border-opacity-50"
                >
                  <!-- <button
                type="button"
                class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                data-te-modal-dismiss
                data-te-ripple-init
                data-te-ripple-color="light">
                Close
              </button> -->
                  <a
                    href="/auth/google"
                    type="button"
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    class="ml-1 inline-block rounded-xl px-6 pb-2 pt-2.5 font-medium leading-normal border border-[#28bb85] hover:text-white sshadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] active:text-white dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                  >
                    <button type="button" class="">
                      <img
                        class="h-6 w-6 inline-block"
                        src="https://www.svgrepo.com/show/475656/google-color.svg"
                        loading="lazy"
                        alt=""
                      />
                      Sign up with Google
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Save button MODAL END -->
        </div>
      </div>

      <!-- <a href="/viewPost/dashboard/<%= item._id %>">View Post</a> -->
    </div>
  </div>
        </div>

        <!-- COMMENTS SECTION START -->
        <div class="max-w-[625px] 2xl:w-[625px]"> 
          <div class="flex justify-end text-neutral-500 pr-3.5 py-2.5 border-neutral-300 border-b-2"> 
            <% if (item.comments == 0) { %>
            <p>No comments</p>
            <%} else if (item.comments == 1) {%>
              <p><%= item.comments %> comment</p>
              <%} else {%>
                <p><%= item.comments %> comments</p>
              <% }%>
          </div>
      
          <!-- form to add comments -->
          
          <% if (user._id != 'guest') {%>
          <form action="/comment/createComment/<%= item._id%>" method="POST" class="py-3.5 w-11/12 mx-auto ">
            <label for="commentinput"></label>
            <textarea
              id="commentinput"
              type="text"
              name="commentinput"
              maxlength="40000"
            ></textarea>

            <text id="update_chars3" class="block py-3.5 text-neutral-500 text-base"></text>
       
            <button 
            type="submit" 
            id="submitButton" 
            data-te-ripple-init
            data-te-ripple-color="light"
            class="rounded-full relative inline-block rounded bg-[#28bb85] px-6 pb-2 pt-2.5 text-base font-medium leading-normal text-white shadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] dark:shadow-[0_4px_9px_-4px_#34D398] dark:hover:shadow-[0_8px_9px_-4px_#077F59] dark:focus:shadow-[0_8px_9px_-4px_#34D398] dark:active:shadow-[0_8px_9px_-4px_#077F59] flex gap-x-2.5 items-center"><i class="fa-solid fa-plus"></i> Add comment</button>
          </form>

          <text id="update_chars3"></text>

          <%} else {%>

            <div class="py-3.5">
            <button type="button" 
            data-te-toggle="modal"
            data-te-target="#AddCommentButtonModal"
            data-te-ripple-init
            data-te-ripple-color="light"
            id="submitButton" 
            class="rounded-full relative inline-block rounded bg-[#28bb85] px-6 pb-2 pt-2.5 text-base font-medium leading-normal text-white shadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] dark:shadow-[0_4px_9px_-4px_#34D398] dark:hover:shadow-[0_8px_9px_-4px_#077F59] dark:focus:shadow-[0_8px_9px_-4px_#34D398] dark:active:shadow-[0_8px_9px_-4px_#077F59] flex gap-x-2.5 items-center"><i class="fa-solid fa-plus"></i> Add comment</button>
          </div>
            <!--ADD COMMENT BUTTON MODAL START-->
            <div
            data-te-modal-init
            class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
            id="AddCommentButtonModal"
            tabindex="-1"
            aria-labelledby="AddCommentButtonModal"
            aria-modal="true"
            role="dialog"
          >
            <div
              data-te-modal-dialog-ref
              class="pointer-events-none relative flex justify-center min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]"
            >
              <div
                class="pointer-events-auto relative flex w-full flex-col rounded-xl border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
              >
                <div
                  class="flex flex-shrink-0 items-center justify-between rounded-t-md p-4 dark:border-opacity-50"
                >
                  <!--Modal title-->
                  <h5
                    class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                  ></h5>
                  <h1
                    class="text-3xl font-medium leading-normal text-neutral-800 dark:text-neutral-200 pt-4"
                    id="exampleModalCenterTitle"
                  >
                    Sign Up
                  </h1>
                  <!--Close button-->
                  <button
                    type="button"
                    class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none pb-8"
                    data-te-modal-dismiss
                    aria-label="Close"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="h-6 w-6"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 18L18 6M6 6l12 12"
                      />
                    </svg>
                  </button>
                </div>

                <!--Modal body-->
                <div
                  class="relative w-6/12 flex flex-wrap items-center justify-center self-center pb-12 pt-12"
                >
                  <h5
                    class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                  ></h5>
                  <p class="text-center text-lg">
                    Create an account to easily save, like, add comments, and
                    submit your own posts.
                  </p>
                </div>

                <!--Modal footer-->
                <div
                  class="flex flex-shrink-0 flex-wrap items-center justify-center rounded-b-md p-4 pb-12 dark:border-opacity-50"
                >
                  
                  <a
                    href="/auth/google"
                    type="button"
                    data-te-ripple-init
                    data-te-ripple-color="light"
                    class="ml-1 inline-block rounded-xl px-6 pb-2 pt-2.5 font-medium leading-normal border border-[#28bb85] hover:text-white sshadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] active:text-white dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                  >
                    <button type="button" class="">
                      <img
                        class="h-6 w-6 inline-block"
                        src="https://www.svgrepo.com/show/475656/google-color.svg"
                        loading="lazy"
                        alt=""
                      />
                      Sign up with Google
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- ADD COMMENT MODAL END -->

            <% }%>

          <!-- comments feed-->
          <ul>
            <% for (let i=0; i<comments.length; i++) {%>

              <!-- Comment outer box -->
                <div class="block w-full flex justify-start border-neutral-300 border-t-2"> 
                  <!-- Div for profile pic on the left START-->
                  <div class="flex w-20 pt-2">
                    <a
                      class="self-start mx-auto pt-2.5 rounded-full w-7/12"
                      href="/profile/<%= comments[i].postedBy._id%>"
                      ><img
                        class="self-start mx-auto rounded-full w-full"
                        src="<%- comments[i].postedBy?.image%>"
                        alt="user image"
                      />
                    </a>
                  </div>
                  <!-- Div for profile pic on the left END-->

                  <!-- box for all other comment contents START-->
                  <div class="w-full pt-2"> 
                    <div class="flex justify-between pt-2.5">
                      <div class="flex gap-x-1.5 ">
                        <a
                          href="/profile/<%= comments[i].postedBy._id%>"
                          class="underline font-roboto text-sm"
                          ><%= comments[i].postedBy?.displayName%></a
                        >
              
                        <div class="text-sm text-neutral-500">
                          posted <%= comments[i].createdAt.toLocaleDateString('en-US', { month:
                          'short', day: 'numeric' }) %>
                        </div>
                      </div>

                      <!-- 3 BUTTONS DROP DOWN START FOR COMMENTS -->
                      <div class="justify-self-end pr-2"> 
                        <div class="relative" data-te-dropdown-ref>
                          <button
                            class="w-8 h-8 rounded-full hover:bg-[#e2e7eb] transition duration-150 active:bg-[#e2e7eb] focus:bg-[#e2e7eb]"
                            type="button"
                            id="dropdownMenuSmallButton"
                            data-te-dropdown-toggle-ref
                            aria-expanded="false"
                            data-te-ripple-init
                            data-te-ripple-color="light"
                          >
                            <i class="fa-solid fa-ellipsis" style="color: #5b7083"></i>
                          </button>
                          <ul
                            class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                            aria-labelledby="dropdownMenuSmallButton"
                            data-te-dropdown-menu-ref
                          >
                          
                            <% if (comments[i].reportedBy.toString().includes(user._id.toString()) || user._id.toString() === 'guest')
                            { %>
                            <li>
                              <a
                                class="pointer-events-none block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-400 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-500 dark:hover:bg-neutral-600"
                                href="#"
                                data-te-dropdown-item-ref
                                >Report comment</a
                              >
                            </li>
                            <% } else { %>
                            <li>
                              <button
                                type="button"
                                class="inline-block rounded bg-light px-6 pb-2 pt-2.5 text-sm font-medium leading-normal text-danger transition duration-150 ease-in-out hover:bg-secondary-200 focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] shadow-none"
                                data-te-dropdown-item-ref
                                data-te-toggle="modal"
                                data-te-target="#reportCommentModal<%= comments[i]._id %>"
                                data-te-ripple-init
                                data-te-ripple-color="light"
                              >
                                Report comment
                              </button>
                            </li>
                            <%comments[i].postedBy %>
                            <% } %> <%if (comments[i].postedBy._id == user._id.toString()){ %>
                            <li>
                              <a
                                class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600 text-center"
                                href="/comment/editComment/<%=item._id %>/comments/<%= comments[i]._id %>"
                                data-te-dropdown-item-ref
                                >Edit comment</a
                              >
                            </li>
              
                            <li>
                              <button
                                type="button"
                                class="w-full inline-block rounded bg-light px-6 pb-2 pt-2.5 text-sm font-medium leading-normal text-danger shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-secondary-200 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                                data-te-dropdown-item-ref
                                data-te-toggle="modal"
                                data-te-target="#exampleModal<%= comments[i]._id %>"
                                data-te-ripple-init
                                data-te-ripple-color="light"
                              >
                                Delete comment
                              </button>
                            </li>
                            <%}%>
                          </ul>
                          <!-- Delete Modal START -->
                          <div
                            data-te-modal-init
                            class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
                            id="exampleModal<%= comments[i]._id %>"
                            tabindex="-1"
                            aria-labelledby="exampleModalLabel"
                            aria-hidden="true"
                          >
                            <div
                              data-te-modal-dialog-ref
                              class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]"
                            >
                              <div
                                class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
                              >
                                <div
                                  class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
                                >
                                  <!--Modal title-->
                                  <h5
                                    class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                                    id="exampleModalLabel"
                                  >
                                    Warning: Deleting this comment is irreversible. Confirm
                                    delete?
                                  </h5>
                                  <!--Close button-->
                                  <button
                                    type="button"
                                    class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                                    data-te-modal-dismiss
                                    aria-label="Close"
                                  >
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      fill="none"
                                      viewBox="0 0 24 24"
                                      stroke-width="1.5"
                                      stroke="currentColor"
                                      class="h-6 w-6"
                                    >
                                      <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M6 18L18 6M6 6l12 12"
                                      />
                                    </svg>
                                  </button>
                                </div>
              
                                <!--Modal body-->
                                <!-- <div class="relative flex-auto p-4" data-te-modal-body-ref>BODY</div> -->
              
                                <!--Modal footer-->
                                <div
                                  class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
                                >
                                  <button
                                    type="button"
                                    class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                                    data-te-modal-dismiss
                                    data-te-ripple-init
                                    data-te-ripple-color="light"
                                  >
                                    Close
                                  </button>
                                  <a
                                    class="ml-1 inline-block rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-danger-800 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                                    data-te-ripple-init
                                    data-te-ripple-color="light"
                                    href="/comment/deleteComment/<%=item._id%>/comments/<%=comments[i]._id%>"
                                  >
                                    DELETE COMMENT 
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- MODAL END  -->
              
                          <!-- Report Comment Modal START -->
                          <div
                            data-te-modal-init
                            class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
                            id="reportCommentModal<%= comments[i]._id %>"
                            tabindex="-1"
                            aria-labelledby="reportCommentModalLabel"
                            aria-hidden="true"
                          >
                            <div
                              data-te-modal-dialog-ref
                              class="pointer-events-none relative w-auto translate-y-[-50px] opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:max-w-[500px]"
                            >
                              <div
                                class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
                              >
                                <div
                                  class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
                                >
                                  <!--Modal title-->
                                  <h5
                                    class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                                    id="exampleModalLabel"
                                  >
                                    Reporting is irreversible and should be used to flag
                                    irrelevant or inappropriate posts. Are you sure you want
                                    to proceed?
                                  </h5>
                                  <!--Close button-->
                                  <button
                                    type="button"
                                    class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
                                    data-te-modal-dismiss
                                    aria-label="Close"
                                  >
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      fill="none"
                                      viewBox="0 0 24 24"
                                      stroke-width="1.5"
                                      stroke="currentColor"
                                      class="h-6 w-6"
                                    >
                                      <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M6 18L18 6M6 6l12 12"
                                      />
                                    </svg>
                                  </button>
                                </div>
              
                                <!--Modal body-->
                                <!-- <div class="relative flex-auto p-4" data-te-modal-body-ref>BODY</div> -->
              
                                <!--Modal footer-->
                                <div
                                  class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50"
                                >
                                  <button
                                    type="button"
                                    class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
                                    data-te-modal-dismiss
                                    data-te-ripple-init
                                    data-te-ripple-color="light"
                                  >
                                    Close
                                  </button>
                                  <a
                                    class="ml-1 inline-block rounded bg-danger px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-danger-800 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-danger-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-danger-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                                    data-te-ripple-init
                                    data-te-ripple-color="light"
                                    href="/comment/reportComment/<%- item._id %>/comments/<%- comments[i]._id %>"
                                  >
                                    REPORT Comment
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- MODAL END  -->
                        </div>
                      </div>
                      <!-- 3 BUTTONS DROP DOWN END -->
                    </div>

                    <!-- main text of post start -->
                    <p><%- comments[i].comment%></p>

                    <!-- Like, Comment, and save buttons - with logic for guest users vs logged in START -->
                    <div class="flex justify-start w-[30rem] py-1">
                      <div class="flex justify-between w-4/6">


                        <!-- If guest, like button triggers a modal -->
                        <% if (user._id === 'guest') { %>
                        <div class="flex justify-center">
                          <button
                            type="button"
                            title="Like post"
                            class="w-9 h-9 rounded-full hover:bg-[#fee4f0] transition duration-150"
                            data-te-toggle="modal"
                            data-te-target="#exampleModalCenterLike"
                            data-te-ripple-init
                            data-te-ripple-color="light"
                          >
                            <i class="fa-regular fa-heart" style="color: #5b7083"></i>
                          </button>
                          <% if (comments[i].likes == 1) {%>
                          <div
                            title="<%= comments[i].likes %> like"
                            class="text-neutral-500 flex items-center"
                          >
                            <%= comments[i].likes %>
                          </div>
                          <% } else if (comments[i].likes > 1) { %>
                          <div
                            title="<%= comments[i].likes %> likes"
                            class="text-neutral-500 flex items-center"
                          >
                            <%= comments[i].likes %>
                          </div>
                          <% } %>
                        </div>

                        <!--LIKE BUTTON MODAL START-->
                        <div
                          data-te-modal-init
                          class="fixed left-0 top-0 z-[1055] hidden h-full w-full overflow-y-auto overflow-x-hidden outline-none"
                          id="exampleModalCenterLike"
                          tabindex="-1"
                          aria-labelledby="exampleModalCenterTitle"
                          aria-modal="true"
                          role="dialog"
                        >
                          <div
                            data-te-modal-dialog-ref
                            class="pointer-events-none relative flex justify-center min-h-[calc(100%-1rem)] w-auto translate-y-[-50px] items-center opacity-0 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:mt-7 min-[576px]:min-h-[calc(100%-3.5rem)] min-[576px]:max-w-[500px]"
                          >
                            <div
                              class="pointer-events-auto relative flex w-full flex-col rounded-xl border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600"
                            >
                              <div
                                class="flex flex-shrink-0 items-center justify-between rounded-t-md p-4 dark:border-opacity-50"
                              >
                                <!--Modal title-->
                                <h5
                                  class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                                ></h5>
                                <h1
                                  class="text-3xl font-medium leading-normal text-neutral-800 dark:text-neutral-200 pt-4"
                                  id="exampleModalCenterTitle"
                                >
                                  Sign Up
                                </h1>
                                <!--Close button-->
                                <button
                                  type="button"
                                  class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none pb-8"
                                  data-te-modal-dismiss
                                  aria-label="Close"
                                >
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke-width="1.5"
                                    stroke="currentColor"
                                    class="h-6 w-6"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      d="M6 18L18 6M6 6l12 12"
                                    />
                                  </svg>
                                </button>
                              </div>

                              <!--Modal body-->
                              <div
                                class="relative w-6/12 flex flex-wrap items-center justify-center self-center pb-12 pt-12"
                              >
                                <h5
                                  class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
                                ></h5>
                                <p class="text-center text-lg">
                                  Create an account to easily save, like, add comments, and
                                  submit your own posts.
                                </p>
                              </div>

                              <!--Modal footer-->
                              <div
                                class="flex flex-shrink-0 flex-wrap items-center justify-center rounded-b-md p-4 pb-12 dark:border-opacity-50"
                              >
                                
                                <a
                                  href="/auth/google"
                                  type="button"
                                  data-te-ripple-init
                                  data-te-ripple-color="light"
                                  class="ml-1 inline-block rounded-xl px-6 pb-2 pt-2.5 font-medium leading-normal border border-[#28bb85] hover:text-white sshadow-[0_4px_9px_-4px_#34D398] transition duration-150 ease-in-out hover:bg-[#077F59] hover:shadow-[0_8px_9px_-4px_#34D398] focus:bg-[#077F59] focus:shadow-[0_8px_9px_-4px_#34D398] focus:outline-none focus:ring-0 active:bg-[#077F59] active:shadow-[0_8px_9px_-4px_#34D398] active:text-white dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                                >
                                  <button type="button" class="">
                                    <img
                                      class="h-6 w-6 inline-block"
                                      src="https://www.svgrepo.com/show/475656/google-color.svg"
                                      loading="lazy"
                                      alt=""
                                    />
                                    Sign up with Google
                                  </button>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- LIKE MODAL END -->

                        <!-- Like button logic for logged in users START-->
                        <%} else { %>
                        <form action="/comment/likeComment/<%= item._id%>/comments/<%= comments[i]._id %>" class="flex justify-center">

                          <!-- If comment is already liked by the user, display "Unlike this comment" -->

                          <% if (comments[i].likedBy.includes(user._id.toString())) { %>
                          <button
                            type="submit"
                            title="Unlike comment"
                            class="w-9 h-9 rounded-full hover:bg-[#fee4f0] transition duration-150"
                          >
                            <i class="fa-solid fa-heart" style="color: #f91880"></i>
                          </button>
                          
                          <% if (comments[i].likes == 1) {%>
                          <div
                            title="<%= comments[i].likes %> like"
                            class="text-neutral-500 flex items-center"
                          >
                            <%= comments[i].likes %>
                          </div>
                          <% } else if (comments[i].likes > 1){ %>
                          <div
                            title="<%= comments[i].likes %> likes"
                            class="text-neutral-500 flex items-center"
                          >comments[i]
                            <%= comments[i].likes %>
                          </div>
                          <% } %> <% } else { %>
                          <!-- If comment is not liked by the user, display "Like this comment" -->
                          <button
                            type="submit"
                            title="Like comment"
                            class="w-9 h-9 rounded-full hover:bg-[#fee4f0] transition duration-150"
                          >
                            <i class="fa-regular fa-heart" style="color: #5b7083"></i>
                          </button>
                          <!-- If the post has 1 like, ensure the grammar fits accordingly -->
                          <% if (comments[i].likes == 1) {%>
                          <div
                            class="text-neutral-500 flex items-center"
                            title="<%= comments[i].likes %> like"
                          >
                            <%= comments[i].likes %>
                          </div>
                          <% } else if (comments[i].likes > 1){ %>
                          <div
                            class="text-neutral-500 flex items-center"
                            title="<%= comments[i].likes %> likes"
                          >
                            <%= comments[i].likes %>
                          </div>
                          <% } %> <% } %>
                        </form>
                        <% }%>

                      </div>
                    </div>
              <!-- Like, Comment, and save buttons - with logic for guest users vs logged in END -->
                  </div>
                  <!-- box for all other comment contents END-->
                </div>            
              
              
            <% } %>
          </ul>
        </div>
        </div>




      </section>
      <div class="w-1/4 2xl:w-[315px]"></div>
    </div>





  </div>
  <footer><%- include('partials/footer') %></footer>

  <!-- Tailwind Elements stuff -->
  <script
  type="text/javascript"
  src="/tw-elements/dist/js/tw-elements.umd.min.js"
></script>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

    <script>
      document.getElementById("backButton").addEventListener("click", function() {
    window.history.back(); // takes the user back to the previous page in their browser history
});
      // new MultiSelectTag("regioninput"); // id
      // new MultiSelectTag("countryinput"); // id
      // new MultiSelectTag("healthriskinput"); // id

      new MultiSelectTag("regionfilter"); // id
      new MultiSelectTag("countryfilter"); // id
      new MultiSelectTag("healthriskfilter"); // id

      // CKEDITOR.replace('textinput', {
      //     plugins: 'wysiwygarea, toolbar, basicstyles, link'
      // })

    </script>

    <!-- OLD COMMENT SCRIPT WHICH ACTUALLY MIGHT WORK -->
    <!-- <script>
      ClassicEditor.create(document.querySelector("#textinput")).catch(
        (error) => {
          console.error(error);
        }
      );
    </script> -->

    <script type="text/javascript" src="\ckeditor5\build\ckeditor.js"></script>
    <script type="text/javascript">
      const sendButton = document.querySelector("#submitButton");

      const maxCharacters1 = 4000;
      const charactersBox = document.querySelector("#update_chars3");
      

      ClassicEditor.create(document.querySelector("#commentinput"), {
        wordCount: {
          onUpdate: (stats) => {
            const textLength = stats.characters;
            const isLimitExceeded = textLength > maxCharacters1;

            // Display the number of characters in the progress chart. When the limit is exceeded,
            // display how many characters should be removed.
            if (isLimitExceeded) {
              charactersBox.textContent = `-${
                stats.characters - maxCharacters1
              } characters remaining`;
            } else {
              charactersBox.textContent = `${
                maxCharacters1 - stats.characters
              } characters remaining`;
            }

            if (textLength > maxCharacters1) {
              sendButton.setAttribute("disabled", "disabled");
            } else {
              sendButton.removeAttribute("disabled");
            }
          },
        },
      })
        // .then((editor) => {
        //   window.editor = editor;
        //   const wordCountPlugin = editor.plugins.get("WordCount");
        //   const wordCountWrapper = document.getElementById("word-count1");
        //   wordCountWrapper.appendChild(wordCountPlugin.wordCountContainer);

        //   // charlimit practice
        //   const maxCharacters = 30;

        //   editor.model.document.on("change", () => {
        //     const textLength = editor.getData().length;

        //     if (textLength >= maxCharacters) {
        //       sendButton.setAttribute("disabled", "disabled");
        //     } else {
        //       sendButton.removeAttribute("disabled");
        //     }
        //   });

        //   // charlimit practice
        // })
        .catch((error) => {
          console.error("Oops, something went wrong!");
          console.error(
            "Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:"
          );
          console.warn("Build id: reb26uh8ox5-193g9pg23i6c");
          console.error(error);
        });
    </script>
  </body>
</html>
