<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="Tagify" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Climate-Health Impacts Database</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css"
    />
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>
  </head>
  <body>
    <h1>Climate-Health Impact Tracker POST VIEW</h1>
    <a href="/auth/google">
      <i class="fab fa-google left"></i> Log In With Google
    </a>
    <a href="/auth/logout"> <i class="fab fa-google left"></i> Log Out </a>
    <br />
    <a href="/dashboard">go back to dashboard</a>
    <br>
    <a href="/newPost">Add a new post!</a>

    <!-- display selected post -->
    <ul>
      <li>
        <h3><%- item.titleinput %></h3>
        <p><%- item.textinput %></p>
        <a href="<%= item.linkinput %>" target="_blank">Link</a>
        <div>Year: <%= item.numinput %></div>
        <div>Subregion affected: <%= item.regioninput %></div>
        <div>Countries affected: <%= item.countryinput %></div>
        <div>Climate-sensitive health risks: <%= item.healthriskinput %></div>
        <div>Posted by <%= item.postedBy?.displayName %></div>
        <form action="/likePost/<%= item._id %>">
          <button type="submit">Like this post</button>
        </form>
        <div>This post has <%= item.likes %> likes</div>
        <div>This post has <%= item.comments %> comments</div>
        <div>Posted on <%= item.createdAt %></div>

        <div>posted user ID <%= item.postedBy.id %></div>
        <div>Logged in user ID <%= user.id %></div>

        <%if(item.postedBy.id == user.id){ %>
        <a href="/edit/<%= item._id %>">Edit</a>
        <a href="/edit/remove/<%= item._id %>">Remove</a>
        <%}%>

        <a href="/viewPost/<%= item._id %>">View Post</a>
      </li>
    </ul>

    <!-- form to add comments -->
    
    <form action="/comment/createComment/<%= item._id%>" method="POST">
      <label for="commentinput">Comment</label>
      <textarea
        id="commentinput"
        type="text"
        name="commentinput"
        maxlength="40000"
      ></textarea>
      <span id="word-count1"></span>
  
      <button type="submit" id="submitButton">Add comment</button>
    </form>
    <!-- comments feed-->
    <ul>
      <% for (let i=0; i<comments.length; i++) {%>
        <li>
          <%- comments[i].comment%>
          <form action="/comment/likeComment/<%= item._id%>/comments/<%= comments[i]._id %>">
            <button type="submit">Like this comment</button>
          </form>
          <div>Posted by <%= comments[i].postedBy?.displayName %></div>
          <div>This comment has <%= comments[i].likes %> likes</div>
          <div>posted on <%= comments[i].createdAt %></div>
        </li>
      <% } %>
    </ul>

    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>

    <script>
      // new MultiSelectTag("regioninput"); // id
      // new MultiSelectTag("countryinput"); // id
      // new MultiSelectTag("healthriskinput"); // id

      new MultiSelectTag("regionfilter"); // id
      new MultiSelectTag("countryfilter"); // id
      new MultiSelectTag("healthriskfilter"); // id

      // CKEDITOR.replace('textinput', {
      //     plugins: 'wysiwygarea, toolbar, basicstyles, link'
      // })
    </script>

    <!-- OLD COMMENT SCRIPT WHICH ACTUALLY MIGHT WORK -->
    <!-- <script>
      ClassicEditor.create(document.querySelector("#textinput")).catch(
        (error) => {
          console.error(error);
        }
      );
    </script> -->

    <script type="text/javascript" src="\ckeditor5\build\ckeditor.js"></script>
    <script type="text/javascript">
      const sendButton = document.querySelector("#submitButton");
      ClassicEditor.create(document.querySelector("#commentinput"), {
        licenseKey: "",
      })
        .then((editor) => {
          window.editor = editor;
          const wordCountPlugin = editor.plugins.get("WordCount");
          const wordCountWrapper = document.getElementById("word-count1");
          wordCountWrapper.appendChild(wordCountPlugin.wordCountContainer);

          // charlimit practice
          const maxCharacters = 30;

          editor.model.document.on("change", () => {
            const textLength = editor.getData().length;

            if (textLength >= maxCharacters) {
              sendButton.setAttribute("disabled", "disabled");
            } else {
              sendButton.removeAttribute("disabled");
            }
          });

          // charlimit practice
        })
        .catch((error) => {
          console.error("Oops, something went wrong!");
          console.error(
            "Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:"
          );
          console.warn("Build id: reb26uh8ox5-193g9pg23i6c");
          console.error(error);
        });
    </script>
  </body>
</html>
